# Compiled, pre-build scripts and data
**/*.js
**/*.js.map
**/*.json

# Proprietary configs, and assets
!config/**/*.json
site-config-ext.yaml
secret_*
secret-*
ext.zip
TEMP/
README.txt
src/**/*---*

# Third party JavaScripts
!src/scripts/vendor/*.js

# Compiled project pages
src/_projects/**/*.hbs
!src/_projects/**/index.hbs

# Output directory
dist/

# Cloudflare Workers/Pages
.wrangler/

# Licensed configuration file
.licenses/

# Ruby's local gem
vendor/

# Node.js ---------------------------------------------------------------------

# npm dependency directory
node_modules/

# dotenv environment variable file
.env

# Python ----------------------------------------------------------------------

pyvenv.cfg
bin
lib
lib64
include
**/*/__pycache__