# Proprietary configs, and assets
site-config-ext.yaml
secret_*
secret-*
ext.zip
TEMP/
README.txt
src/**/*---*

# Compiled, pre-build scripts and data
src/**/*.js
src/**/*.json

# Third party JavaScripts
!src/scripts/vendor/*.js

# Compiled project pages
src/_projects/**/*.hbs
!src/_projects/**/index.hbs

# Output directory
dist/

# Cloudflare Workers/Pages
.wrangler/

# Licensed configuration file
.licenses/

# Ruby's local gem
vendor/

# Node.js ---------------------------------------------------------------------

# npm dependency directory
node_modules/

# dotenv environment variable file
.env

# Python ----------------------------------------------------------------------

pyvenv.cfg
bin
lib
lib64
include
**/*/__pycache__