@use "../variables" as *;
@use "sass:color";

footer {
	background: $background-dark;

  z-index: 3;

	@include shadow-black;

	& > div {
  	padding: .5em 1.2em;
	}
}

.footer-heading {
	letter-spacing: .1em;

	& > code {
		color: $secondary;
	}
}

.footer-body {
	display: flex;
	justify-content: space-evenly;
	padding: 3em 1em;
	padding-bottom: 1em;

	& svg {
		margin-right: .3em;
		height: 1em;
	}
}

.links-section {
	padding: .5em;

	& > ul {
		padding-top: 1em;
	}
}

.footer-end {
	display: flex;

	padding: 1em 2em;

	color: $text-secondary;
	background: $background-light;

	font-size: .85em;

	& a {
		text-decoration-color: rgba($text, .3);
	}
}

.note {
	max-width: 400px;
	margin: 0;

	& .title {
		margin: 1em 0;
		font-size: 1.1em;

		&:first-child {
			margin-top: 0;
		}
	}

	& > p {
		color: color.mix($text-secondary, $background-dark, 80%);
		text-align: justify;
		letter-spacing: .05em;
	}
}

.this-site {
	max-width: 380px;
}

.package-info {
	margin-top: 2em;
	font-weight: lighter;
}

.packages {
	padding-bottom: 1.5em;
	font-size: .8em;
	min-height: calc((1lh + .6em) * 7.5);
}

.site-opt {
	display: grid;
	grid-template-columns: 1.5em auto;
	padding-left: 1em;

	& > svg {
		width: 1em;
		margin-top: .1em;
	}

	& > span {
		color: $text-secondary;
	}
}

.logos {
	min-height: 160px;
	padding-bottom: 1.5em;

	& > .inner {
		display: grid;
		justify-items: center;
		grid-gap: 1em;

		& > img {
			width: 70%;
			height: auto;
		}
	}
}

@media (width >= 700px) {
.logos {
  & > .inner {
    grid-template-columns: repeat(3, auto);
    grid-gap: 0;

    justify-content: center;

    padding-left: 1em;
    padding-right: 1em;

    & > img {
      height: 100%;
      max-height: 160px;
      width: auto;
    }
  }
}

}

@media (width <= 600px) {
  footer {
    & > .footer-body {
      flex-direction: column-reverse;
    }
  }

  .links-section {
    &:nth-child(2) {
      padding-bottom: 2em;
      max-width: 100% !important;
    }
  }
}
