@mixin style {
@media (width <= 500px) {
  .footer-end {
    // display: block;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    // & > .flex-space {
    //   flex-basis: 100%;
    // }
  }
//   footer {
//     & > .footer-body {
//       flex-direction: column-reverse;
//     }
//   }

//   .links-section {
//     &:nth-child(2) {
//       padding-bottom: 2em;
//       max-width: 100% !important;
//     }
//   }
}
}
