@use "../variables" as *;
@use "sass:color";

@use "footer.mobile" as mobile;
@use "footer.desktop" as desktop;

.packages {
	// position: relative;
	// padding-bottom: 1.5em;
	// white-space: nowrap;
	font-size: .7em;
	// overflow: hidden;
	text-align: center;

	// contain: strict;

	// & > .inner {
	// 	animation: pkg 100s linear infinite alternate;
	// 	// animation-play-state: running;

	// 	will-change: transform;

	// 	&:hover {
	// 		animation-play-state: paused !important;
	// 	}
	// }

	& a {
		display: inline-block;
		margin: .3em;
		font-family: "Ubuntu Sans Mono", monospace;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.pkg-d {
	color: color.mix($secondary, $text, 30%);
}

.pkg-r {
	color: color.mix($primary, $text, 30%);
}

// @keyframes pkg {
// 	0% {
// 		transform: translateX(var(--width));
// 	}

// 	100% {
// 		transform: translateX(0%);
// 	}
// }

@include mobile.style;
@include desktop.style;
