@use "../variables" as *;
@use "sass:color";

@use "footer.mobile" as mobile;
@use "footer.desktop" as desktop;

.packages {
	position: relative;
	padding-bottom: 1.5em;
	white-space: nowrap;
	font-size: .8em;
	overflow: hidden;

	& > .inner {
		animation: pkg 100s linear infinite alternate;

		&:hover {
			animation-play-state: paused;
		}
	}

	& a {
		display: inline-block;
		margin: 0 .25em;
		font-family: "Ubuntu Sans Mono", monospace;

		&:not(:hover) {
			text-decoration: none;
		}
	}
}

.pkg-d {
	color: color.mix($secondary, $text, 30%);
}

.pkg-r {
	color: color.mix($primary, $text, 30%);
}

@keyframes pkg {
	0% {
		transform: translateX(var(--width));
	}

	100% {
		transform: translateX(0%);
	}
}

@include mobile.style;
@include desktop.style;
