@use "../variables" as *;
@use "sass:color";

@use "footer.mobile" as mobile;
@use "footer.desktop" as desktop;

footer {
	background: $background-dark;

  z-index: 3;

	@include shadow-black;

	& > div {
  	padding: .5em 1.2em;
	}
}

.footer-heading {
	letter-spacing: .1em;
}

.packages {
	position: relative;
	padding-bottom: 1.5em;
	white-space: nowrap;
	font-size: .8em;
	overflow: hidden;

	& > .inner {
		animation: pkg 100s linear infinite alternate;

		&:hover {
			animation-play-state: paused;
		}
	}

	& a {
		display: inline-block;
		margin: 0 .25em;
		font-family: "Oxygen Mono", monospace;

		&:not(:hover) {
			text-decoration: none;
		}
	}
}

.pkg-d {
	color: color.mix($secondary, $text, 30%);
}

.pkg-r {
	color: color.mix($primary, $text, 30%);
}

@keyframes pkg {
	0% {
		transform: translateX(var(--width));
	}

	100% {
		transform: translateX(0%);
	}
}

.footer-body {
	display: flex;
	justify-content: space-evenly;
	padding: 3em 1em;
	padding-bottom: 1em;

	& svg {
		margin-right: .3em;
		height: 1em;
	}
}

.links-section {
	padding: .5em;

	& > ul {
		padding-top: 1em;
	}
}

.footer-end {
	display: flex;

	padding: 1em 2em;

	color: $text-secondary;
	background: $background-light;

	font-size: .85em;

	& a {
		text-decoration-color: rgba($text, .3);
	}
}

.note {
	max-width: 400px;
	margin: 0;

	& .title {
		margin: 1em 0;
		font-size: 1.1em;

		&:first-child {
			margin-top: 0;
		}
	}

	& > p {
		color: color.mix($text-secondary, $background-dark, 80%);
		text-align: justify;
		letter-spacing: .05em;

		& > small {
			opacity: .7;
		}
	}
}

.this-site {
	max-width: 380px;
}

.package-info {
	margin-top: 2em;
	font-weight: lighter;
}

.site-opt {
	display: grid;
	grid-template-columns: 1.5em auto;
	padding-left: 1em;

	& > svg {
		width: 1em;
		margin-top: .1em;
	}

	& > span {
		color: $text-secondary;
	}
}

.logos {
	padding-bottom: 1.5em;

	& > .inner {
		display: grid;
		justify-items: center;
		grid-gap: 1em;

		& > img {
			width: 80%;
			height: auto;
		}
	}
}

@include mobile.style;
@include desktop.style;
