@use "../variables" as *;

@use "sass:color";

@use "header.mobile" as mobile;
@use "header.desktop" as desktop;

body > header {
  position: fixed;
  top: 0;
  left: auto;

  z-index: 9;

  width: 100%;
  max-width: 1700px;
  padding: .5em 2em;

  // font-size: 1em;

  transform: translateY(2em);

  transition: transform .6s ease;

  &::after {
    position: absolute;
    top: -2em;
    left: 0;

    z-index: -1;

    width: 100%;
    height: calc(100% + 2em);

    content: "";

    background: rgba($background-dark, .8);

    border-bottom: 1px solid rgba($text-secondary, .3);

    opacity: 0;

    backdrop-filter: blur(.5em);

    transition: opacity .8s ease;
  }

  &.active {
    --stick-off: 0;

    transform: translateY(0);

    &::after {
      opacity: 1;
    }

    & .logo {
      transform: scale(.7);
    }
  }

  & > .header-inner {
    display: flex;

    & > .logo {

      /* & > a { */
        display: flex;
        align-items: center;
        height: 100%;
      margin: 0;
      font-size: 2em;

      transform-origin: center;

      transition: transform .8s ease;
      /* } */
    }
  }
}

.nav-link {
  text-decoration: none;

  &:hover {
    color: $secondary;
    text-decoration: underline;
  }
}

.nav-link-btn {
  padding: .2em .8em;

  border: 1px solid color.mix($text-secondary, $background-light, 40%);
  border-radius: 16px;
}

.back-top-cont {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}

#back-top {
  --col: #{rgba($text-secondary, .16)};

  display: grid;
  grid-template-columns: 50% 50%;
  width: 3em;
  height: 3em;
  padding: 0;
  margin-bottom: 4em;
  margin-left: .7em;
  overflow: hidden;

  // font-size: .75em;

  background: transparent;
  border-color: var(--col);
  transform: translateY(8em);

  transition:
    .2s ease
  , transform .7s ease
  ;

  &:hover {
    --col: #{$tertiary};

    & > .chv-l, & > .chv-r {
      animation-duration: 1s;
      animation-timing-function: linear;
    }
  }

  &.active {
    transform: translateY(0);
  }
}

.chv-l {
  transform: scaleX(-1.0);
}

.chv-l, .chv-r {
  position: relative;
  height: 100%;
  backdrop-filter: blur(7px);

  @include diagonal-stripes(
    var(--col),
    transparent,
    .2em,
    .8em,
  );

  animation: bg-up 2s ease infinite;
}

@keyframes bg-up {
  to {
    background-position-y: -6em;
  }
}

@include mobile.style;
@include desktop.style;
