@use "../variables" as *;

@use "header.mobile" as mobile;
@use "header.desktop" as desktop;

header {
  position: fixed;
  top: 0;
  left: auto;
  padding: 0 2em;

  width: 100%;
  max-width: 1700px;

  // background: transparent;

  font-size: 1em;

  // will-change: transform;
  transition: transform .6s ease;

  z-index: 9;

  transform: translateY(2em);

  &::after {
    position: absolute;
    content: "";
    top: -2em;
    left: 0;
    width: 100%;
    height: calc(100% + 2em);

    background: rgba($background-dark, .8);
    backdrop-filter: blur(.5em);

    border-bottom: 1px solid rgba($text-secondary, .3);

    z-index: -1;
    opacity: 0;

    // will-change: opacity;
    transition: opacity .8s ease;
  }

  &.active {
    transform: translateY(0);

    &::after {
      opacity: 1;
    }

    & .logo {
      transform: scale(.7);
    }
  }

  & > .header-inner {
    display: flex;

    & > .logo {
      margin: 0;
      font-size: 2em;

      transform-origin: center;

      transition: transform .8s ease;

      & > a {
        // text-decoration: none;
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }
}

.nav-inner-center {
  justify-content: center;
  padding: 0;

  & .nav-link {
    text-decoration: none;

    &:hover {
      color: $secondary;
      text-decoration: underline;
    }
  }
}

.nav-inner-right {
  justify-content: end;
  padding: 0;
}

.nav-vertical {
  margin-top: 0;

  & > li {
    display: inline-block;
  }
}

.back-top-cont {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
}

#back-top {
  --col: #{rgba($text-secondary, .16)};

  display: grid;
  grid-template-columns: 50% 50%;
  width: 3em;
  height: 3em;
  margin-left: .7em;
  margin-bottom: 4em;
  padding: 0;

  background: transparent;
  border-color: var(--col);

  font-size: .75em;

  transition:
    .2s ease
  , transform .7s ease 
  ;
  transform: translateY(8em);
  overflow: hidden;

  &:hover {
    --col: #{$tertiary};

    & > .chv-l, & > .chv-r {
      animation-timing-function: linear;
      animation-duration: 1s;
    }
  }

  &.active {
    transform: translateY(0);
  }
}

.chv-l {
  transform: scaleX(-1.0);
}

.chv-l, .chv-r {
  position: relative;
  height: 100%;
  backdrop-filter: blur(7px);

  @include diagonal-stripes(
    var(--col),
    transparent,
    .2em,
    .8em,
  );

  animation: bg-up 2s ease infinite;
}

@keyframes bg-up {
  to {
    background-position-y: -6em;
  }
}

@include mobile.style;
@include desktop.style;
