@use "../variables" as *;

@mixin style {
@media (width <= 700px) {

.nav-link-btn {
  margin-top: .5em;
}

.ext-links {
  display: flex;
}

header {
  padding: 1.25em;

  transform: translateY(1em);

  &::after {
    top: -1em;
    height: calc(100% + 1em);
  }
}

.header-inner {
  justify-content: space-between;
}

#navbar.toggled {
  transform: translateY(var(--stick-off, -1em));
}

#navbar {
  transform: translateY(calc(-100% - 1em));
  position: fixed;

  top: 0;
  right: 0;

  width: 100%;

  padding: 1em;

  background: rgba($background-light, 0.8);
  backdrop-filter: blur(.5em);

  transition: ease .2s;

  overflow: hidden;
  z-index: 99;

  & .vseparator {
    width: 100%;
    margin: 1em 0;
    height: 1px;
  }

  & > ul {
    & > li {
      letter-spacing: .1em;
      line-height: 2.2em;

      & > a {
        display: inline-block;
        width: 100%;
        padding: 0 1.25em;
      }
    }
  }
}

#navbar-collapse {
  width: 100%;
  margin-top: 1em;

  & > svg {
    height: 1.2em;
    margin: auto;
    transform: scaleY(-1);
  }
}

#collapse-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($background, 0.4);
  backdrop-filter: blur(6px);
  z-index: 7;

  transition: ease .5s opacity;

  &.hidden-o {
    opacity: 0;
    pointer-events: none;
  }
}


#mobile-nav-sect-label {
  margin: .5em 0;
  letter-spacing: .2ch;
}

#navbar-button {
  width: fit-content;
  padding: 1em;
}

}
}
