@use "../variables" as *;
@use "sass:color";

@use "illustrations.desktop" as desktop;

#illustrations {
  position: relative;
  z-index: 1;
  min-height: 50em;
  background: $background-dark;

  @include shadow-black;

  & > .section-inner {
    max-width: 1100px;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    margin: auto;
    column-count: 2;
  }
}

.illust {
  position: relative;
  overflow: hidden;

  // & > .img:hover::after {
  //   opacity: 1;
  // }

  & > .img {
    position: relative;
    width: 100%;
    border-radius: .3em;
    overflow: hidden;

    & > img, & > div {
      position: relative;
      display: block;
      width: inherit;
      height: auto;
      will-change: transform;
      contain: paint layout;
    }

    &::after {
      // transition: .3s ease-out opacity;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, $background-dark -7.5%, transparent 45%);
      // opacity: 0;
    }
  }

  & > .chr {
    position: absolute;
    left: .5em;
    bottom: 3.5em;
    font-family: "Oxygen Mono", monospace;
    font-size: .7em;
    opacity: .7;
  }

  & > .title {
    padding-top: .3em;
    padding-bottom: .5em;
    font-family: "IBM Plex Sans JP", sans-serif;
    font-size: .9em;
  }
}

@include desktop.style;
