@use "../variables" as *;
@use "sass:color";

#illustrations {
  position: relative;
  z-index: 1;
  min-height: 50em;
  background: $background-dark;

  @include shadow-black;

  & > .section-inner {
    max-width: 1100px;
    min-height: 1180px;
    padding-top: 2.5em;
    margin: auto;
    column-count: 2;
  }
}

@media (width >= 700px) {
#illustrations {
  & > .section-inner {
    padding: 2em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    column-count: 3;
  }
}
}