@use "../variables" as *;
@use "sass:color";

#illustrations {
  position: relative;
  z-index: 1;
  min-height: 50em;
  background: $background-dark;

  @include shadow-black;

  & .jp {
    // color: $primary;
    background: $background-dark;
  }

  // & > .section-inner {
    // width: 100%;
    // max-width: 1100px;
    // min-height: 1180px;
    // padding-top: 2.5em;
    // padding-top: 0;
    // margin: auto;
  // }
}

.illust-items {
  padding: 1em 0;
}

.illust-gall {
  gap: .6em;
}

.col-4 {
  column-count: 2;
}

.col-3,
.col-2 {
  column-count: 1;
}

@media (width >= 700px) {
// #illustrations {
//   & > .section-inner {
//     // padding: 2em;
//     // padding-top: 0;
//     padding-bottom: 2.5em;
//   }
// }

.col-4 {
  column-count: 4;
}

.col-3 {
  column-count: 3;
}

.col-2 {
  column-count: 2;
}
}