@use "../variables" as *;
@use "sass:color";

.links-group {
  padding-bottom: 1.15em;

  & > ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  &.link-0 {
    font-size: 1.2em;

    // & .links-title {
    //   font-weight: bold;
    // }
  }

  &.link-3 {
    margin-top: 1.15em;

    & .links-title {
      color: color.mix($primary, $background-dark, 70%);
      border-bottom: 1px dashed color.mix($primary, $background-dark, 50%);

      font-weight: bold;

      & > svg {
        display: inline-block;
        fill: $primary;

        width: .85em;
        margin-right: .15em;
      }
    }
  }
}

.links-title {
  padding-bottom: .2em;

  color: color.mix($text, $background-dark, 70%);

  font-size: 1.35em;
  font-weight: 200;
  letter-spacing: .2ch;

  border-bottom: 1px dashed color.mix($text, $background-dark, 50%);
}

.links-desc {
  margin: 0;
  margin-top: .5em;
  color: color.mix($text, $background-dark, 60%);
}

@mixin link-style($color, $color_override: null) {
  color: $color;

  & > a {
    color: if(
      $color_override != null,
      $color_override,
      color.mix($color, white, 50%)
    );

    & svg {
      fill: if(
        $color_override != null,
        $color_override,
        $color
      );
    }
  }
}

.link-item {
  margin: .5em;
  padding: .2em .3em;
  // font-size: 1.1em;
  border-radius: 8px;

  & > a {
    display: flex;

    &:not(:hover) {
      text-decoration: none;
    }
  }

  & svg {
    width: 1.15em;
    height: 1.15em;
  }
}

.default {
  @include link-style(black, white);
}

.itchdotio {
  @include link-style(#FA5C5C);
}

// &.github {
//   @include link-style(#181717, white);
// }

.artstation {
  @include link-style(#13AFF0);
}

.mastodon {
  @include link-style(#6364FF);
}

// &.reddit {
//   @include link-style(#ff4500);
// }

.bluesky {
  @include link-style(#0285FF);
}

.liberapay {
  @include link-style(#F6C915);
}

// &.codepen,
.github,
.x,
.patreon {
  @include link-style(#000000, $text);
}

.kofi {
  // font-size: 1em;
  @include link-style(#FF5E5B);
}

.social-icon {
  display: flex;
  align-items: center;
  min-width: 1.6em;
  height: 3rem;
  padding-right: .5em;
}

.social-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
}

.username {
  display: block;
  margin-top: .2em;

  font-family: "Ubuntu Sans Mono", monospace;
  opacity: .5;
}

.username, .social-name {
  transition: color .15s ease !important;
}

.heartbeat {
  transform-origin: center;
  animation: heartbeat 1.2s ease infinite;
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1.25);
  }

  50% {
    transform: scale(1.0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .link-item {
    &.on {
      transition: .25s ease-out;

      & .social-name, .username {
        transition: .25s ease-out;
      }
    }

    @include nth-loop(1, 3) using ($i) {
      transition-delay: 0s + (.15 * $i);

      & .social-name, .username {
        transition-delay: 0s + (.15 * $i);
      }
    }

    &:not(.on) {
      transition: .09s ease-out;
      transition-delay: 0;
      transform: translateX(-1em);
      opacity: 0;

      & .social-name, .username {
        transition: .09s ease-out;
        transition-delay: 0;
        opacity: 0;
      }

      & .social-name {
        transform: translateY(2em);
      }

      & .username {
        transform: translateY(-2em);
      }
    }
  }
}