@use "../variables" as *;
@use "sass:color";

#links {
  padding-top: 4em;
  padding-bottom: 4em;
  background: $background-dark;

  & > .section-inner {
    max-width: 1050px;
    min-height: 820px;
    margin: auto;
  }
}
