@use "../variables" as *;
@use "sass:color";
@use "sass:math";

@use "overview.desktop" as desktop;

.section-title-sub {
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: .6em;
}

#overview {
  // padding-top: 1em;
  background-color: $background-dark;

  // $s: 50px;  /* control the size of the grid */
  // $n: 4;     /* control the granularity */
  // $t: 2px;   /* the thickness */
  // $g: 10px;  /* the gap between dashes */

  // $sn: math.div($s, $n);
  
  // --c: #{color.mix($text, $background, 10%)} 25%,#0000 0;
  // background: 
  //   linear-gradient(270deg, $background-dark -10%, #0000 5%),
  //   linear-gradient(180deg, $background-dark -10%, #0000 25%),
  //   linear-gradient(90deg, $background-dark -10%, #0000 5%),
  //   linear-gradient(0deg, $background-dark -10%, #0000 25%),

  //   conic-gradient(at $g $t,var(--c))
  //    #{math.div( ($sn - $g + $t), 2 ) 0} /
  //    #{$sn $s},

  //   conic-gradient(from 180deg at $t $g,var(--c))
  //    #{0 math.div( ($sn - $g + $t), 2 )} /
  //    #{$s $sn},

  //   linear-gradient($background-dark, $background-dark)
  //    ;
  // /* you probably don't need to set any size in your case */
  // // width: calc(round(down,100%,$s) + $t);
  // // height: calc(4*$s + $t);
  // background-position: -1px;

  & > .section-inner {
    max-width: 1050px;
    min-height: 445px;
    // margin: auto;
    margin-top: 1.5em;
    padding-bottom: 1em;
  }

  & .heading-left-sticky {
    color: rgba($secondary, 75%);

    & > .jp {
      background: $background-dark;
    }
  }

  // & .card {
  //   background: 0;
  // }
}

.commits {
  padding: 1.5em 0;

  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  & > div {
    display: flex;
    flex-direction: column;

    & > .inner {
      flex-grow: 1;
    }
  }

  & > .calendar-container {
    $c: 16 + 2;
    $r: 10;

    $sqr-w: 1em;
    $sqr-h: 1em;
    $sqr-w-gap: .1em;
    $sqr-h-gap: .1em;

    display: flex;
    flex-direction: row;

    min-width: 0;

    & .section-title-sub {
      margin-bottom: 0;
      margin-right: .6em;
      writing-mode: sideways-rl;
    }

    & > .inner {
      // border: 1px solid color.mix($text, $background-light, 5%);
      border-radius: 3px;

      background: $background-dark;
    }


    & .date {
      grid-row: span $r;
      color: color.mix($text, $background, 50%);
      // font-family: monospace;

      &:first-child {
        padding-right: .5em;
        writing-mode: sideways-rl;
      }

      &:last-child {
        padding-left: .5em;
        writing-mode: sideways-lr;
      }
    }

    & > .inner > .grid > i {
      height: $sqr-h;
      width: $sqr-w;
      padding: 0;
      margin: 0;
      border-radius: 3px;
      transition: .2s ease;

      &:not(:nth-last-child(-n+#{$c * $r})) {
        display: none;
      }

      &:nth-child(2), &:nth-last-child(2) {
        outline: 2px solid color.mix($text, $background, 75%);
      }
    }

    & i {
      background: color.mix($text, $background, 2%);
    }

    @for $i from 1 through 5 {
      & .c#{$i} {
        background: color.mix($secondary, $background-light, (20 * $i) + 0%);
      }
    }

    & .grid {
      position: relative;
      display: grid;
      // width: 100%;
      height: $r * ($sqr-h + $sqr-h-gap);
      width: $c * ($sqr-h + $sqr-h-gap);
      grid-auto-flow: column;
      grid-gap: 0;
      grid-template-rows: repeat($r, $sqr-h + $sqr-h-gap);
      grid-template-columns: repeat($c, $sqr-w + $sqr-w-gap);
      justify-items: center;
    }
  }

  & .inner {
    position: relative;
    padding: .8em;

    overflow-x: auto;

    contain: content;
  }
}

.flex-br {
  display: none;
}

.lang {
  &:not(.on) {
    transition: .05s ease-out;
    transition-delay: 0;
    transform: translateX(-3em);
    opacity: 0;

    & > .icon-text {
      transform: translateY(-2em);
      opacity: 0;
    }
  }
}


.stacks-lists {
  min-height: 3.5em;

  & ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 1em;
  }
}

.socials-lists {
  min-height: #{13em + 1em};
}

#social-see-more {
  margin: auto;
}

@media (width <= 700px) {
#overview {
  & > .section-inner {
    padding: 0;
    // padding-left: .1em;
    // padding-right: .1em;
  }
}

.section-title-sub {
  margin-bottom: 1.25em;
}

.commits {
  & > div {
    margin-top: 1em;
  }
}

.stacks-lists {
  padding-bottom: 1em;

  & > ul.nostyle {
    flex-wrap: wrap;
    gap: 1.5em;
  }
}

.lang-stacks {
  min-height: 365px;
  gap: 1em;
}

.languages-container {
  flex-wrap: wrap;
}

.flex-br {
  display: block;
  flex-basis: 100%;
  margin: .5em;
}


.socials-lists {
  & > ul.nostyle {
    column-count: 2;
  }
}
}

@media (width > 700px) {
#overview {
  padding-bottom: 3em;

  & > .section-inner {
    padding-bottom: 2em;

    & > div {
      max-width: 1080px;
      margin: auto;
      margin-top: 2em;
    }
  }

  & .heading-left-sticky {
    z-index: 3;
  }
}

.commits {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
}

@include desktop.style;
