@use "../variables" as *;

@mixin style {
@media (width >= 700px) {
#overview {
  padding-bottom: 1em;

  & > .section-inner > div {
    max-width: 1080px;
    margin: auto;
    margin-top: 2em;
  }
}

.commits {
  display: grid;
  grid-template-columns: auto 64% 23%;
  grid-gap: 1.5em;
  justify-content: center;

  & > .controls {
    margin-right: .3em;

    & > .inner {
      height: 75%;

      padding-top: .5em;

      @include diagonal-stripes(
        rgba($text-secondary, .5),
        // $tertiary,
        transparent,
        .2em,
        .6em,
      );
    }
  }
}
}
}
