@use "../variables" as *;
@use "sass:color";

@use "overview.mobile" as mobile;
@use "overview.desktop" as desktop;

#overview {
  padding-top: 1em;
  background: $background-dark;

  & > .section-inner {
    max-width: 1100px;
    margin: auto;
    margin-top: 1.5em;
    padding-bottom: 2em;
  }
}

.section-title-sub {
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: .6em;
}

.commits {
  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  & > .controls {
    padding: 0;

    & > .section-title-sub {
      opacity: 0;
    }

    & button {
      font-size: 1.1em;
    }
  }

  & > .calendar-container {
    $sqr-w: .7em;
    $sqr-h: .8em;
    $sqr-w-gap: .1em;
    $sqr-h-gap: .1em;

    // & > .inner {
    //   border-bottom: 2px solid $secondary;
    // }

    & > .inner.card > .grid > i {
      height: $sqr-h;
      width: $sqr-w;
      padding: 0;
      margin: 0;
      // background: color.mix($text, $background-light, 3%);
      border-radius: 3px;
      transition: .2s ease;

      &:hover {
        transform: scale(2.0);
      }
    }

    @for $i from 1 through 5 {
      & .c#{$i} {
        background: color.mix($secondary, $background-light, (20 * $i) + 0%);
      }
    }

    & .grid {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 0;
      grid-template-rows: repeat(7, $sqr-h + $sqr-h-gap);
      grid-template-columns: repeat(52, $sqr-w + $sqr-w-gap);
    }
  }
  & .inner {
    position: relative;
    // min-height: 150px;
    padding: .8em;
    overflow-x: auto;

    /*
    & > .icon-bg {
      position: absolute;
      bottom: 0;
      left: -.1em;
      color: $primary;
      font-size: 8em;
      opacity: .09;
    }
    */
  }
}

// .stats {
//   & > .inner {
//     border-bottom: 2px solid $primary;
//   }
// }

.stats-list {
  position: relative;
  font-size: .9em;

  & > li {
    display: grid;
    grid-template-columns: auto 4.5em 4.5em;

    margin: .25em 0;
    color: color.mix($text-secondary, $background, 70%);

    & > div {
      margin-right: 1em;
      color: color.mix($text, $secondary, 40%);
    }

    &.title {
      margin: .5em 0;
      padding-left: 0;
      color: color.mix($text, $secondary, 60%);

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.languages {
  margin-top: 1.5em;
}

.languages-container {
  display: flex;

  margin-bottom: 2em;

  & > .lang {
    position: relative;
    display: inline-block;
    flex-grow: 1;

    margin: 0 .2em;

    font-size: .9em;

    white-space: nowrap;

    $color: $secondary;

    & > .box {
      // max-height: .8em;
      padding: .25em 0;
      padding-left: .25em;
      background: color.mix($color, $background, 20%);
      color: $background;
      font-size: .8em;
      line-height: .65em;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        & > .box {
          background: color.mix($color, $background, (6 - $i) * 20%);
        }
      }
    }

    // & > code {
    //   position: absolute;
    //   top: 0;
    //   padding-left: .5em;
    //   color: $background;
    //   font-size: .8em;
    //   text-overflow: ellipsis;
    //   overflow: hidden;
    // }

    & > .icon-text {
      display: flex;
      color: $text-secondary;
      width: 100%;

      & > span {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.stacks-lists {
  & ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1em;
  }

  & .title {
    margin-top: .4em;
    color: $text-secondary;
  }

  & svg {
    height: 1.8em;
    margin-right: .7em;
  }
}

@include mobile.style;
@include desktop.style;
