@use "../variables" as *;
@use "sass:color";
@use "sass:math";

// @use "overview.mobile" as mobile;
// @use "overview.desktop" as desktop;

.lang-stacks {
  flex-grow: 1;
  justify-content: space-around;
}

.stats-list {
  position: relative;
  font-size: .9em;

  & > li {
    display: grid;
    grid-template-columns: 1fr auto;

    margin: .25em 0;
    color: color.mix($text-secondary, $background, 70%);

    & > div {
      margin-right: 1em;
      color: color.mix($text, $secondary, 40%);
    }

    &.title {
      margin: .5em 0;
      padding-left: 0;
      color: color.mix($text, $secondary, 60%);

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.languages-container {
  display: flex;
  min-height: 2.4em;

  margin-bottom: 1em;
}

.lang {
  position: relative;
  display: inline-block;
  flex-grow: 1;

  margin: 0 .2em;

  font-size: .9em;

  white-space: nowrap;

  $color: $secondary;

  & > .box {
    padding: .25em 0;
    padding-left: .25em;
    color: $background;
    font-size: .8em;
    line-height: .65em;
  }

  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      & > .box {
        background: color.mix($color, $background, (7 - $i) * math.div(100%, 7));
      }
    }
  }

  // & > code {
  //   position: absolute;
  //   top: 0;
  //   padding-left: .5em;
  //   color: $background;
  //   font-size: .8em;
  //   text-overflow: ellipsis;
  //   overflow: hidden;
  // }

  & > .icon-text {
    display: flex;
    color: $text-secondary;
    width: 100%;

    & > span {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.stacks-lists {
  & ul {
    position: relative;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    margin-right: 0;
    gap: .7em;
  }

  & li li {
    height: 1.8em;
    width: 1.8em;
  }

  & .title {
    margin-top: .4em;
    color: $text-secondary;
  }

  & svg {
    height: 100%;
    width: 100%;
  }
}

// Social media overview section

// .overview-socials {
//   position: relative;

//   & > .inner {
//     position: relative;
//     padding-top: 1.5em;

//     @include shadow-black-drop;
//   }

//   &::before {
//     content: "";
//     position: absolute;
//     top: -1em;
//     left: -2em;
//     width: calc(100% + 4em);
//     height: calc(100% + 4em);
//     background: rgba($background-light, .55);

//     // @include polka-dots(
//     //   rgba($text-secondary, .25),
//     //   // rgba($background-light, .65),
//     //   transparent,
//     //   1px,
//     //   1.25em,
//     // );
//   }
// }

$action-bg: color.mix($background, $background-dark, 50%);;
.socials-lists {
  $border-col: color.mix($text, $background-dark, 11.5%);

  padding-bottom: 1em;
  overflow-x: scroll;

  // $shadow-col: rgba($background-dark, 80%);
  // background: $shadow-col;
  // box-shadow: 0 0 3em 3em $shadow-col;

      // filter: drop-shadow(0 0 1em $background-dark) drop-shadow(0 0 .5em $background);
  // mask-image: linear-gradient(90deg, #000 65%, transparent);
  // mask-mode: alpha;
  // mask-repeat: no-repeat;

  @include style-scrollbar;

  // & .tag {
  //   // color: $secondary;

  //   &::before {
  //     content: "#";
  //     // color: $primary;
  //     // color: $secondary;
  //     opacity: .4;
  //   }
  // }

  & .content-container {

    // & > .text {
    //   width: 100%;
    //   height: 100%;
    //   color: $text-secondary;
    //   overflow: hidden;
    //   // text-overflow: ellipsis;
    // }

    & h3, & h4 {
      padding: 0 .7em;
      margin: 0;
      margin-bottom: .5em;
    }
    
    & h3 {
      padding-top: .5em;
    }
  }

  & .content {
    padding: .7em;
    margin: 0;
    color: $text-secondary;
  }

  & .release-title {
    color: $secondary;
    // font-weight: 300;
  }

  & .release-ver {
    font-weight: 300;
  }

  & .media {
    flex-grow: 1;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  & > ul {
    column-count: 4;
    column-width: 25%;
    column-fill: balance;
    column-rule: 1px solid color.mix($text, $background-dark, 7.5%);
    gap: 1.25em;

    & > li {
      margin-bottom: .8em;
      overflow: hidden;
    }
  }

  & .card {
    display: flex;
    flex-direction: column;
    // width: 25%;

    // width: min-content;
    // min-width: 6em;
    // height: 13em;
    // &.s0 {
    //   width: 13em;
    // }
    // &.s1 {
    //   width: 17em;
    // }

    padding: 0;
    padding-bottom: .5em;
    margin-bottom: .2em;

    background: $background;
    border: 1px solid $border-col;

    overflow: hidden;
  }

  // & .sources {
  //   & svg {
  //     fill: color.mix($text, $background, 52.5%);
  //     font-size: .8em;

  //   }
  // }

  // & .stats {
  //   display: flex;
  //   gap: .7em;
  //   font-size: .7em;
  // }

  // & .actions {
  //   display: flex;
  //   gap: 1em;
  //   padding: .3em 1em;
  //   background: $action-bg;
  //   border-top: 1px solid $border-col;
  // }

  & .timestamp {
    color: color.mix($text-secondary, $background-dark, 60%);;
    margin-left: .5em;
    letter-spacing: .15ch;
  }
}


.post-illust {
  & .card {
    min-height: 21em;
  }
}

// .post-announcement {
//   column-span: all;

//   & .content-container {
//     background: color.mix($background-dark, $tertiary, 87.5%);
//   }

//   & .content {
//     background: $background-dark;
//   }

//   & .card {
//     border-color: color.mix($background-dark, $tertiary, 45%);
//   }
// }

// .icon- {
//   &likes {
//     fill: color.mix($background-dark, $text-secondary, 65%);
//     // fill: $text-secondary;
//     // fill: color.mix($text, color.mix($action-bg, $primary, 35%), 55%);
//   }
// //   // &replies {
// //   //   fill: $secondary;
// //   // }
//   &shares {
//     fill: color.mix($background-dark, $text-secondary, 65%);
//     // fill: $text-secondary;
// //     // fill: $secondary;
// //     fill: color.mix($text, color.mix($action-bg, $secondary, 35%), 55%);
//   }
// }

// .socials-lists > ul.anim {
//   &:not(.on) {
//     & > li {
//       transform: translateX(-2em);
//       opacity: 0;
//     }
//   }

//   &.on {
//     & > li {
//       transition: .2s ease-out;
//       // transition-delay: 0;

//       @include nth-loop(1, 6) using ($i) {
//         transition-delay: 0s + (.125 * $i);
//       }

//     }
//   }
// }

// @include mobile.style;
// @include desktop.style;

/* stylelint-disable */
// @media (prefers-reduced-motion: no-preference) {
.stats.anim {
  &.on {
    & .stats-list > li {
      transition: .2s ease-out;
    }
  }

    & .stats-list > li {
      @include nth-loop(1, 6) using ($i) {
        transition-delay: 0s + (.2 * $i);
      }
    }

  &:not(.on) {
    & .stats-list > li {
      transition: .05s ease-out;
      transition-delay: 0;
      transform: translateX(-3em);
      opacity: 0;
    }
  }
}

.lang {
  &.on {
    transition: .7s ease-out;

    & > .icon-text {
      transition: .3s ease-out;
    }
  }

  @include nth-loop(1, 6) using ($i) {
    transition-delay: 0s + (.17 * $i);

    & > .icon-text {
      transition-delay: inherit;
    }
  }

  // &:not(.on) {
  //   transition: .05s ease-out;
  //   transition-delay: 0;
  //   transform: translateX(-3em);
  //   opacity: 0;

  //   & > .icon-text {
  //     transform: translateY(-2em);
  //     opacity: 0;
  //   }
  // }
}

.stacks-lists {
  & .icon {
    @include nth-loop(1, 7) using ($i) {
      transition-delay: 0s + (.13 * $i);
    }
  }
}
// }
