@use "../variables" as *;
@use "sass:color";

// @use "profile.mobile" as mobile;
@use "profile.desktop" as desktop;

#profile {
  bottom: -3em;
  padding: 0;
  padding-top: 5em;

  & .section-inner {
    max-width: 1150px;
    margin: auto;
    padding: 0 2em;
  }

  & .icon-text {
    & > svg {
      color: color.mix($primary, $background-dark, 90%);
      margin-right: .5em;
    }

    & > span {
      color: color.mix($text-secondary, $background-dark, 85%);
    }
  }
}

.bg-cover {
  padding-bottom: 1em;
  background: $background-dark;

  box-shadow: 0 0 7em -.1em color.adjust($background-dark, $lightness: -2.5%);
}

.info-container {
  position: relative;
  top: -4em;
  display: block;
}

.name-cont {
  display: flex;
  align-items: end;

  margin: 1.5em 0 0;
  // margin-bottom: .25em;
}

.desc-cont {
  grid-column: span 2;
  margin-top: 1.25em;
}

h1.name {
  // left: -.5em;
  margin: 0;
  // margin: 0 -.5em;
  // margin-left: -.5em;
  padding: 0 .5em;

  // color: $background-dark;
  color: $text-secondary;

  font-size: 2.5em;
  // font-weight: 600;

  // background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=3ae5f9);
  // background-repeat: no-repeat;
  // background-position: center center;

  background: $background-dark;

  // border: .5em solid $background-dark;
  border-radius: 16px;

  // box-sizing: content-box;

  transform: translateX(-.5em);

  &::first-letter {
    color: $primary;
    font-family: "Ubuntu Sans Mono", sans-serif;
    font-weight: 600;
  }
}

p.about {
  margin: .5em 0;
  margin-bottom: .7em;
  color: $text-secondary;
}

.user-metadata {
  display: flex;
  // grid-column: span 2;
  flex-wrap: wrap;
  width: 100%;
}

#clock-timezone {
  display: inline-block;
  min-width: 4em;
}

.profile-pict {
  position: relative;

  & > .img-cont {
    position: relative;
    width: fit-content;
    height: fit-content;

    & > img, & > div {
      position: relative;
      width: 176px;
      height: 176px;
      border-radius: 24px;
      z-index: 1;
    }

    &::after, &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 21%;

      transform-origin: bottom right;

      z-index: 0;
    }

    &::after {
      transform: translate(1.3em, 1.3em) scale(.65);

      @include polka-dots(
        color.mix($primary, $background-dark, 90%),
        // rgba($primary, .9),
        // rgba($text-secondary, .6),
        transparent,
        20%,
        12%,
      );
    }

    &::before {
      transform: translate(.5em, .5em) scale(.7);

      background: $background-dark;
      z-index: 1;
    }
  }

  & .status {
    position: absolute;
    left: -.7em;
    bottom: -.8em;
    display: inline-block;
    padding: .2em .9em;
    padding-bottom: .6em;

    background: $text;
    // background: color.mix($text, $background-light, 3%);
    color: $background-dark;
    border-radius: 16px;
    font-size: .9em;
    line-height: 1em;
    white-space: nowrap;

    outline: 7px solid $background-dark;

    z-index: 3;

    & > span {
      font-size: 1.5em;
    }

    &::after, &::before {
      content: "";
      position: absolute;
      background: inherit;
      border-radius: 50%;
    }

    &::after {
      top: -.5em;
      left: -.7em;
      width: 1.5em;
      height: 1.5em;
      z-index: 1;
    }

    &::before {
      top: -1em;
      left: .4em;
      width: .95em;
      height: .95em;
      outline: inherit;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  #profile .icon-text {
    transition:
      opacity .3s ease-out,
      transform .25s ease-out;

    @include nth-loop(1, 5) using ($i) {
      transition-delay: 0s + (.09 * $i);
    }

    &:not(.on) {
      transition: .05s ease-out;
      transition-delay: 0;
      transform: translateX(-2em);
      opacity: 0;
    }
  }
}

// @include mobile.style;
@include desktop.style;
