@use "../variables" as *;
@use "sass:color";

#projects {
  background: radial-gradient(circle at 50% 0%, $background-light -10%, $background 80%);

  @include shadow-black;

  & > .section-controls {
    position: sticky;
    top: 0;

    padding-top: 1em;
    padding-bottom: 1em;

    margin: auto;
    max-width: 1100px;

    z-index: 9;
  }

  & > .section-inner {
    margin: auto;
    max-width: 1100px;
    min-height: 576px;
  }
}

@media (width <= 700px) {
#projects {
  & > .section-inner {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
}

@media (width >= 700px) {
#projects {
  & > .section-inner {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 25%);
    padding: 2em;
  }
}
}