@mixin style {
@media (width <= 700px) {

.info-container {
  grid-template-columns: auto 1fr;
}

.name-cont {
  margin-left: 2em;
}

.desc-cont {
  grid-column: span 2;
  margin-top: 1.25em;
}

.user-metadata {
  grid-column: span 2;
}

.profile-pict {
  & > .img-cont > img {
    width: 11em;
    height: 11em;
  }
}
}
}
