@use "../variables" as *;
@use "sass:color";

@use "projects.mobile" as mobile;
@use "projects.desktop" as desktop;

#projects {
  background: radial-gradient(circle at 50% 0%, $background-light -10%, $background 80%);

  @include shadow-black;

  & > .section-controls {
    position: sticky;
    top: 0;

    padding-top: 1em;
    padding-bottom: 1em;

    margin: auto;
    max-width: 1100px;

    z-index: 9;
  }

  & > .section-inner {
    margin: auto;
    max-width: 1100px;
  }
}

.project.card {
  position: relative;
  min-height: 15em;
  padding: 0;
  margin: .5em;

  background:
    radial-gradient(
      circle at 80% 160%,
      transparent,
      rgba($background, 0.4) 40%,
      rgba($background, 0.6) 50%,
      rgba($background, 0.8) 60%,
      $background 70%
    ),
    var(--img-bg, $background);
  background-size: auto;
  background-position: bottom right;
  background-repeat: no-repeat;

  outline: 1px solid transparent;

  transition:
    outline .15s ease,
    transform .23s ease !important;

  overflow: hidden;

  &:hover {
    outline: 1px solid color.mix($text, $background, 80%);
  }

  & > p {
    margin: 0;
    padding: .9em;
    color: color.mix($text, $background, 80%);
    font-weight: 300;
    font-size: .85em;
    letter-spacing: .08em;
    word-spacing: .1em;
  }
}

// .project-image {
//   overflow: hidden;

//   & > img {
//     display: block;
//     width: 100%;
//     max-height: 230px;
//     object-position: center;
//     object-fit: cover;
//   }
// }

.project-title {
  margin: 0;
  padding: .5em;
  padding-left: 1em;
  background: linear-gradient(
    to right,
    rgba($background-light, .7) 30%,
    transparent 90%
  );
  font-size: 1.15em;
  letter-spacing: .08em;

  // &.with-image {
  //   position: absolute;
  //   width: 100%;
  //   margin-top: -2em;
  // }

  & a {
    text-decoration: none;
  }
}

.labels-container {
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

#project-cat-display, #project-platform-display {
  display: inline-block;
  width: 2em;
  margin-left: .6em;
  margin-right: .6em;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin project-label-style($color) {
  color: $color;
  background: color.mix($color, $background, 1%);
  border: 1px solid color.mix($color, $background, 20%);
  transition: .2s ease;

  &:not(:hover) {
    opacity: .6;
  }
}

.project-label {
  display: inline-block;
  padding: .15em .5em;
  margin: 0 .25em;
  font-size: .65em;
  letter-spacing: .1em;
  border-radius: 9px;
  cursor: pointer;
  @include project-label-style($text);

  /* stylelint-disable */
  &.SCSS {
    @include project-label-style(#fc56a8);
  }
  &.TypeScript {
    @include project-label-style(#3b93f5);
  }
  &.JavaScript {
    @include project-label-style(#f7df1e);
  }
  &.Node {
    @include project-label-style(#5fa04e);
  }
  &.Handlebars {
    @include project-label-style(#ff9b26);
  }
  &.Godot, &.GDScript {
    @include project-label-style(#66b2f2);
  }
  /* stylelint-enable */
}

@include mobile.style;
@include desktop.style;
