@use "../variables" as *;
@use "sass:color";

#projects {
  background: $background-light;
  // background: radial-gradient(circle at 50% 0%, $background-light -10%, $background 80%);

  @include shadow-black;

  // & > .section-controls {
  //   position: sticky;
  //   top: 0;

  //   padding-top: 1em;
  //   padding-bottom: 1em;

  //   margin: auto;
  //   max-width: 1100px;

  //   z-index: 9;
  // }

  & .jp {
    background: $background-light;
  }

  // & > .section-inner {
  //   width: 100%;
  //   margin: auto;
  //   max-width: 980px;
  //   min-height: 576px;
  // }
}


.project {
  // background:
  //   radial-gradient(
  //     circle at 80% 160%,
  //     transparent,
  //     rgba($background, 0.4) 40%,
  //     rgba($background, 0.6) 50%,
  //     rgba($background, 0.8) 60%,
  //     $background 70%
  //   )
  // ;
  // background-size: auto;
  // background-position: bottom right;
  // background-repeat: no-repeat;

  outline: 1px solid transparent;

  // aspect-ratio: 1 / 1;

  transition:
    outline .2s ease,
    transform .23s ease !important;

  overflow: hidden;
  // contain: strict;

  // outline: 1px solid #0000;

  // &:hover {
  //   outline-color: color.mix($text, $background, 60%);
  // }
}

.project-items {
  min-height: 610px;
}

// @media (width <= 700px) {
// #projects {
//   & > .section-inner {
//     padding-top: 2em;
//     padding-bottom: 2em;
//   }
// }
// }