@mixin style {
@media (width >= 700px) {
.info-container {
  display: grid;
  grid-template-columns: 15em auto;
  grid-template-rows: minmax(3em, 1fr) auto auto;
}

.pfp-cont {
  grid-row: span 3;
}

.profile-pict {
  & > .img-cont > img {
    width: 12em;
    height: 12em;
  }
}

.desc-cont {
  grid-column: unset;
  margin-top: 0;
}

@media (height >= 920px) {
  .cta-inner {
    flex-direction: column;
    margin-bottom: 2em;
  }

  .cta-label {
    margin-bottom: 1.5em;
  }

  #profile {
    bottom: 0;
    margin-bottom: -3em;
    padding-top: 0;
  }
}
}
}
