<!DOCTYPE html>
<html lang="en" translate="no">
<head>
  {{ title "404 :(" }}
  {{ desc "Page Not Found" }}

  {{> "head" }}

  <meta property="og:type" content="website">

  <style type="text/css">
    main {
      min-height: 100vh;
    }

    main, main > h1 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    main > h1 {
      flex-direction: column;
      margin-top: -2em;
      text-align: center;
      font-size: 4em;
      font-family: "Noto Sans JP", sans-serif;
      font-weight: lighter;
      letter-spacing: .2ch;
    }

    main > h1 > a {
      margin-top: .5em;
      font-size: .5em;
      letter-spacing: 0;
    }
  </style>
</head>

<body>
  {{> "header" }}

  <main>
    <h1>
      404
      <small>Page Not Found</small>
      <a href="/"><small>Back to Home</small></a>
    </h1>
  </main>

  {{> "footer" }}

  {{ stylesheet "/styles/animations.scss" "(prefers-reduced-motion: no-preference)" }}

  {{ script "/scripts/_page.ts" true }}
</body>
</html>
