<!DOCTYPE html>
<html lang="en" translate="no">
<head>
  {{ title site.title }}
  {{ desc site.description }}

  {{> "head" }}

  {{!-- {{ stylesheet "/styles/main.animations.scss" "(prefers-reduced-motion: no-preference)" }} --}}

  <link rel="preload" as="image" href="/assets/logo.svg" type="image/svg+xml">

  <meta property="og:type" content="website">
</head>

<body>
  {{> "header" }}
  {{> "home" }}

  <main>
    {{> "profile" }}
    {{> "overview" }}
    {{> "projects" }}
    {{> "illustrations" }}
    {{> "links" }}
  </main>

  {{> "footer" }}

  {{ script "/scripts/_home.ts" true }}
</body>
</html>
