<!DOCTYPE html>
<html lang="en" translate="no">
<head>
  {{ include "head" }}
  <style type="text/css">
    main > h1 {
      padding: 2em;
      padding-top: 3em;
      margin: 0;
      text-align: center;
      font-weight: 200;
    }
  </style>
</head>

<body>
  {{ include "header" }}
  <main>
    <h1>Links &amp; Socials</h1>
    {{ include "links" }}
  </main>
  {{ include "footer" }}
  <script type="text/javascript" src="/scripts/build/g.js" defer=""></script>
</body>
</html>