@use "variables" as *;
@use "sass:color";

.icon-text {
  display: inline-flex;
  align-items: center;
  margin-right: 1em;
  margin-top: .5em;
  white-space: nowrap;

  & > svg {
    margin-right: .3em;
    max-height: 1em;
  }
}

.card {
  padding: 1em;
  background: $background;
  border: 1px solid rgba($text-secondary, 8.5%);
  border-radius: 6px;

  @include shadow-black;
}

.heading-left-sticky {
  margin-top: 0;

  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: 200;
  text-transform: uppercase;

  text-wrap: nowrap;
  opacity: .35;
}

@media (width >= 1150px) {
  .heading-left-sticky {
    position: absolute;
    top: 1em;
    left: -.25em;
    height: 100%;

    font-size: 3em;
    writing-mode: vertical-lr;

    & > div {
      display: inline-block;
      position: sticky;
      top: 1.5em;
      padding-bottom: 1.5em;
    }
  }
}