@use "variables" as *;
@use "sass:color";

.icon-text {
  display: inline-block;
  margin-right: 1em;
  margin-top: .5em;
  white-space: nowrap;

  & > svg {
    margin-right: .3em;
    max-height: 1em;
  }
}

.card {
  padding: 1em;
  background: $background;
  border-radius: 6px;

  @include shadow-black;
}