@use "variables" as *;
@use "sass:color";

footer {
	background: $background-dark;

	@include shadow-black;

	& > div {
  	padding: .5em 1.2em;
	}

	& .footer-heading {
		letter-spacing: .1em;
	}
}

.footer-body {
	display: flex;
	justify-content: space-evenly;
	padding: .5em 3em;

	& svg {
		margin-right: .3em;
		height: 1em;
	}

	& > .links-section {
		padding: .5em;

		& > ul {
			padding: 0;

			list-style: none;

			& > li {
				line-height: 1.8em;

				& > a {
					text-decoration: none;
				}
			}
		}

		&.horizontal {
			& > ul {
				display: flex;

				& > li {
					margin-right: 1em;
				}
			}
		}
	}
}

.footer-end {
	display: flex;

	padding-top: .9em;
	padding-bottom: .9em;

	color: $text-secondary;
	background: $background-light;

	& a {
		color: $secondary;

		& > svg {
			color: $secondary;
			margin-right: .25em;
		}
	}
}

.note {
	max-width: 400px;
	padding: .25em 1.5em;
	margin-right: 0;
	margin-left: 0;

	border-radius: 6px;

	border: 1px solid rgba($text, 0.1);

	& .title {
		margin: 1em 0;
		font-size: 1.1em;
	}

	& > p {
		color: color.mix($text-secondary, $background-dark, 80%);
		text-align: justify;
		letter-spacing: .05em;
	}
}

.badges-container {
	margin-bottom: .7em;
}