@use "variables" as *;
@use "sass:color";

footer {
	background: $background-dark;

  z-index: 3;

	@include shadow-black;

	& > div {
  	padding: .5em 1.2em;
	}

	& .footer-heading {
		letter-spacing: .1em;
	}
}

.footer-body {
	display: flex;
	justify-content: space-evenly;
	padding: 2em 1em;

	& svg {
		margin-right: .3em;
		height: 1em;
	}

	& > .links-section {
		padding: .5em;

		& > ul {
			padding-top: 1em;
		}
	}
}

.footer-end {
	display: flex;

	padding: 1em 2em;

	color: $text-secondary;
	background: $background-light;

	font-size: .8em;

	& a {
		text-decoration-color: rgba($text, .3);
	}
}

.note {
	max-width: 400px;
	padding: .25em 1.5em;
	margin-right: 0;
	margin-left: 0;

	& .title {
		margin: 1em 0;
		font-size: 1.1em;
	}

	& > p {
		color: color.mix($text-secondary, $background-dark, 80%);
		text-align: justify;
		letter-spacing: .05em;
	}
}

.site-opt {
	display: grid;
	grid-template-columns: 1.5em auto;
	padding-left: 1em;

	& > svg {
		width: 1em;
		margin-top: .1em;
	}

	& > span {
		color: $text-secondary;
	}
}