@media (width <= 600px) {
  footer {
    & > .footer-body {
      flex-direction: column-reverse;
    }
  }

  .links-section {
    &:nth-child(2) {
      padding-bottom: 2em;
      max-width: 100% !important;
    }
  }
}