@use "variables" as *;

header {
  position: fixed;
  top: 0;
  left: auto;
  padding: 2em;

  width: 100%;
  max-width: 1700px;

  background: transparent;

  font-size: 1em;

  will-change: padding, background;
  transition:
    padding .6s ease,
    background .9s ease;

  z-index: 9;

  &.active {
    padding: 0 1em;

    background: $background-dark;

    @include shadow-black;
  }

  & > .header-inner {
    display: flex;

    & > h1 {
      margin: 0;
      font-weight: 200;

      & > a {
        text-decoration: none;
      }
    }
  }
}

.nav-inner-center {
  justify-content: center;
  padding: 0;

  & .nav-link {
    text-decoration: none;

    &:hover {
      color: $secondary;
      text-decoration: underline;
    }
  }
}

.nav-inner-right {
  justify-content: end;
  padding: 0;
}

.nav-vertical {
  margin-top: 0;

  & > li {
    display: inline-block;
  }
}