@use "variables" as *;

header {
  position: fixed;
  top: 0;
  left: auto;
  padding: 0 1em;

  width: 100%;
  max-width: 1700px;

  background: radial-gradient(
    circle at left,
    rgba($primary, 70%) -100%,
    rgba($background, 80%) 15%
  );
  backdrop-filter: blur(.4em);
  border-bottom: 1px solid rgba($text, 0.2);

  @include shadow-black;

  z-index: 9;

  & > .header-inner {
    display: flex;

    & > h1 {
      margin: 0;
      margin-top: .15em;
      font-weight: 200;

      & > a {
        text-decoration: none;
      }
    }
  }
}

.nav-inner-center {
  justify-content: center;
  padding: 0;

  & .nav-link {
    height: 100%;
    text-decoration: none;

    &:hover {
      color: $secondary;
      text-decoration: underline;
    }
  }
}

.nav-inner-right {
  justify-content: end;
  padding: 0;
}

.nav-vertical {
  margin-top: 0;

  & > li {
    display: inline-block;
  }
}