@use "variables" as *;

@use "header.mobile" as mobile;
@use "header.desktop" as desktop;

header {
  position: fixed;
  top: 0;
  left: auto;
  padding: 2em;

  width: 100%;
  max-width: 1700px;

  background: transparent;

  font-size: 1em;

  will-change:
    padding,
    background;
  transition:
    padding .6s ease,
    background .9s ease;

  z-index: 9;

  &.active {
    padding: 0 1em;

    background: rgba($background-dark, .8);
    // background: $background-dark;
    backdrop-filter: blur(.5em);

    @include shadow-black;
  }

  & > .header-inner {
    display: flex;

    & > h1 {
      margin: 0;

      & > a {
        text-decoration: none;
      }
    }
  }
}

.nav-inner-center {
  justify-content: center;
  padding: 0;

  & .nav-link {
    text-decoration: none;

    &:hover {
      color: $secondary;
      text-decoration: underline;
    }
  }
}

.nav-inner-right {
  justify-content: end;
  padding: 0;
}

.nav-vertical {
  margin-top: 0;

  & > li {
    display: inline-block;
  }
}

.back-top-cont {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
}

#back-top {
  --col: #{rgba($text-secondary, .16)};

  display: grid;
  grid-template-columns: 50% 50%;
  width: 3em;
  height: 3em;
  margin-left: .7em;
  margin-bottom: 4em;
  padding: 0;

  background: transparent;
  border-color: var(--col);

  font-size: .75em;

  transition:
    .2s ease
  , transform .7s ease 
  ;
  transform: translateY(8em);
  overflow: hidden;

  &:hover {
    --col: #{$tertiary};

    & > .chv-l, & > .chv-r {
      animation-timing-function: linear;
      animation-duration: .7s;
    }
  }

  &.active {
    transform: translateY(0);
  }

  & > .chv-l {
    animation: bg-up-l 2s ease infinite;
  }

  & > .chv-r {
    animation: bg-up-r 2s ease infinite;
  }

  & > .chv-l, & > .chv-r {
    position: relative;
    height: 300%;
    backdrop-filter: blur(7px);

    @include diagonal-stripes(
      var(--col),
      transparent,
      .2em,
      .8em,
    );
  }
}

@keyframes bg-up-l {
  0% {
    transform: translateY(0) scaleX(-1);
  }

  100% {
    transform: translateY(-35%) scaleX(-1);
  }
}

@keyframes bg-up-r {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-35%);
  }
}

@include mobile.style;
@include desktop.style;
