@use "variables" as *;
@use "sass:color";

textarea {
  outline: none;
  background: color.adjust($background-light, $lightness: 1.5%);
  border: none;

  &.one-line {
    height: 1.2em;
    font-size: 1.2em;
    resize: none;
  }

  &:hover {
    outline: 1px solid color.adjust($background-light, $lightness: 12.5%);
  }

  &:focus {
    outline: 1px solid color.adjust($background-light, $lightness: 15.5%);
  }
}

.button, button, .input-group {
  position: relative;
  display: flex;
  align-items: center;

  padding: .3em 1em;

  font-size: .85em;

  white-space: nowrap;

  cursor: pointer;

  outline: none;
  // margin: 0 .5em;

  background: color.adjust($background-light, $lightness: 2.5%);

  border: 1px solid color.mix($text, $background, 13.5%);
  border-radius: 6px;

  box-shadow: 0 0 1em rgba($background-dark, 95%);

  transition: ease .15s;

  &.blank {
    outline: none;
    background: none;
    border: none;
    box-shadow: none;
  }

  & .text {
    color: color.mix($background, $text, 20%);
  }

  &:hover {
    background: color.adjust($background-light, $lightness: 9%);
    box-shadow: 0 0 1em -.5em rgba($background-dark, 95%);
  }

  & > svg {
    display: inline-block;
    min-width: 1em;
  }

  &:not(.icon-only) > svg {
    &:first-child {
      margin-right: .5em;
    }
  }

  &.icon-only {
    padding: .5em;
  }
}

.input-group {
  & > textarea {
    color: color.mix($background, $text, 25%);
  }

  & > textarea, textarea::placeholder {
    padding: 0 .5em;
  }
}

.dropdown {
  position: relative;
  display: flex;
  margin: .5em 0;

  & > button {
    width: 100%;
    height: 100%;
  }

  & > .items {
    position: absolute;
    top: 100%;
    left: 0;

    z-index: 9;

    width: 100%;

    border: 1px solid color.mix($text, $background, 16.5%);
    border-radius: 8px;

    box-shadow: 0 0 1em -.5em rgba($background-dark, 95%);

    & > label {
      padding: .5em 1em;
      margin: 0;

      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }
}

input[type="checkbox"], input[type="radio"] {
  display: none;

  & + .checked {
    display: inline-block;
    /* min-width: 1em; */
    /* margin-right: .8em; */

    & + .checked-not {
      display: none;
    }
  }

  &:not(:checked) + .checked {
    display: none;

    & + .checked-not {
      display: inline-block;
    }
  }
}

.checkbox {
  display: flex;
  /* width: 1em; */
  margin: .5em;
}

.tags-cont {
  display: inline-flex;
  // overflow-x: scroll;

  & > .tag {
    padding: 0 .3em;
    padding-left: .7em;
    margin: 0 .1em;

    & > svg {
      width: .5em;
      padding: .3em;
      margin-right: 0;
      margin-left: .5em;
      color: $primary;
      border-radius: 50%;
      transition: .2s ease;
    }

    &:hover > svg {
      color: $background;
      background: $primary;
    }
  }
}

#tag-project-cont {
  display: flex;
}

.tab {
  $border-col: rgba($text-secondary, 55%);

  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;

  & > input {
    & + label {
      margin-inline: -1px;
      border-bottom-color: $border-col;
    }

    &:not(:checked) + label {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &:checked + label {
      box-sizing: border-box;
      font-weight: 700;
      color: $primary;
      border-color: $primary;

      border-style: solid;
      border-bottom-color: #0000;
    }

  }

  & > label, &::after, &::before {
    padding: .35em 1.5em;
    padding-bottom: .6em;
    border: 2px dashed #0000;
    /* border-bottom-color: #0000; */
    /* border-bottom: 0; */
    border-radius: 3px 3px 0 0;
  }

  &::after, &::before {
    flex-grow: 1;
    content: "";
    border-bottom-color: $border-col;
  }
}
