@use "variables" as *;
@use "sass:color";

textarea {
  border: none;
  outline: none;
  background: color.adjust($background-light, $lightness: 1.5%);

  &.one-line {
    resize: none;
    height: 1.2em;
    font-size: 1.2em;
  }

  &:hover {
    outline: 1px solid color.adjust($background-light, $lightness: 12.5%);
  }

  &:focus {
    outline: 1px solid color.adjust($background-light, $lightness: 15.5%);
  }
}

button, .input-group {
  position: relative;
  display: flex;
  align-items: center;

  padding: .1em 1em;
  margin: 0 .5em;

  background: color.adjust($background-light, $lightness: 3.5%);

  border: 1px solid color.mix($text, $background, 16.5%);
  border-radius: 8px;

  outline: none;

  font-size: .85em;

  box-shadow: 0 0 1em rgba($background-dark, 95%);

  white-space: nowrap;

  cursor: pointer;

  transition: ease .15s;

  &.blank {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
  }

  & .text {
    color: color.mix($background, $text, 20%);
  }

  &:hover {
    background: color.adjust($background-light, $lightness: 9%);
    box-shadow: 0 0 1em -.5em rgba($background-dark, 95%);
  }

  & > svg {
    display: inline-block;
    min-width: 1em;
  }

  &:not(.icon-only) > svg {
    &:first-child {
      margin-right: .5em;
    }
  }

  &.icon-only {
    padding: .5em;
  }
}

.input-group {
  & > textarea {
    color: color.mix($background, $text, 25%);
  }

  & > textarea, textarea::placeholder {
    padding: 0 .5em;
  }
}

.dropdown {
  position: relative;
  // margin: 0 .5em;

  & > button {
    // width: 100%;
    height: 100%;
  }

  & > .items {
    position: absolute;
    left: .5em;

    border: 1px solid color.mix($text, $background, 16.5%);
    border-radius: 8px;

    box-shadow: 0 0 1em -.5em rgba($background-dark, 95%);

    z-index: 9;

    & > label {
      padding: .5em 1em;
      margin: 0;

      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }
}

input[type="checkbox"], input[type="radio"], {
  display: none;

  & + .checked {
    display: inline-block;
    min-width: 1em;
    margin-right: .8em;
  }

  &:not(:checked) + .checked {
    opacity: 0;
  }
}

.tags-cont {
  display: inline-flex;
  // overflow-x: scroll;

  & > .tag {
    padding: 0 .3em;
    padding-left: .7em;
    margin: 0 .1em;

    & > svg {
      width: .5em;
      padding: .3em;
      margin-left: .5em;
      margin-right: 0;
      color: $primary;
      border-radius: 50%;
      transition: .2s ease;
    }

    &:hover > svg {
      color: $background;
      background: $primary;
    }
  }
}

#tag-project-cont {
  display: flex;
}