@use "variables" as *;
@use "sass:color";

#links {
  padding-top: 6em;
  padding-bottom: 6em;

  & > .section-inner {
    & > ul {
      display: flex;
      flex-wrap: wrap;
      max-width: 560px;
      padding: 0;
      margin: auto;
      justify-content: center;
      list-style: none;
    }
  }
}

@mixin link-style($color, $color_override: null) {
  color: $color;

  transition: .2s ease;

  &:hover {
    box-shadow: 0 0 1.5em -.4em
      if($color_override != null,
        $color_override, $color);
  }

  & > a {
    color: if(
      $color_override != null,
      $color_override,
      color.mix($color, white, 50%)
    );

    & > .social-icon > svg {
      fill: if(
        $color_override != null,
        $color_override,
        $color
      );
    }
  }
}

.link-item {
  margin: .5em;
  padding: .2em .6em;
  font-size: 1.2em;
  border-radius: 8px;

  & > a {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-decoration: none;

    & > .social-icon {
      grid-column: 1;
      grid-row: 1 / span 2;

      display: flex;
      align-items: center;
      min-width: 1.5em;
      padding-right: .5em;
    }

    & > .social-name {
      grid-column: 2;
      grid-row: 1;
    }

    & > .username {
      grid-column: 2;
      grid-row: 2;

      font-family: "DejaVu Mono", monospace;
      opacity: .5;
    }
  }

  &[data-icon-slug="itchdotio"] {
    @include link-style(#FA5C5C);
  }

  &[data-icon-slug="github"] {
    @include link-style(#181717, white);
  }

  &[data-icon-slug="artstation"] {
    @include link-style(#13AFF0);
  }

  &[data-icon-slug="mastodon"] {
    @include link-style(#6364FF);
  }

  &[data-icon-slug="codepen"],
  &[data-icon-slug="patreon"] {
    @include link-style(#000000, white);
  }

  &[data-icon-slug="codepen"] {
    font-size: 1em;
  }

  &[data-icon-slug="kofi"] {
    font-size: 1em;
    @include link-style(#FF5E5B);
  }
}