@use "variables" as *;
@use "sass:color";

#links {
  padding-top: 4em;
  padding-bottom: 4em;
  background: $background-dark;

  & > .section-inner {
    max-width: 1100px;
    margin: auto;
  }

  & .links-group {
    padding-bottom: 1.5em;

    & > ul {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
    }

    // &:nth-child(3) {
    //   font-size: .8em;
    // }
  }

  & .links-title {
    padding-bottom: .2em;

    color: color.mix($text, $background-dark, 70%);

    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: .2ch;

    border-bottom: 1px dashed color.mix($text, $background-dark, 50%);
  }
}

@mixin link-style($color, $color_override: null) {
  color: $color;

  & > a {
    color: if(
      $color_override != null,
      $color_override,
      color.mix($color, white, 50%)
    );

    & > .social-icon > svg {
      fill: if(
        $color_override != null,
        $color_override,
        $color
      );
    }
  }
}

.link-item {
  margin: .5em;
  padding: .2em .3em;
  font-size: 1.1em;
  border-radius: 8px;

  & > a {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-decoration: none;

    & > .social-icon {
      grid-column: 1;
      grid-row: 1 / span 2;

      display: flex;
      align-items: center;
      min-width: 1.5em;
      padding-right: .5em;
    }

    & > .social-name {
      grid-column: 2;
      grid-row: 1;
    }

    & > .username {
      grid-column: 2;
      grid-row: 2;
      margin-top: .2em;

      font-family: "Oxygen Mono", monospace;
      opacity: .5;
    }
  }

  &.default {
    @include link-style(black, white);
  }

  &.itchdotio {
    @include link-style(#FA5C5C);
  }

  // &.github {
  //   @include link-style(#181717, white);
  // }

  &.artstation {
    @include link-style(#13AFF0);
  }

  &.mastodon {
    @include link-style(#6364FF);
  }

  // &.reddit {
  //   @include link-style(#ff4500);
  // }

  &.bluesky {
    @include link-style(#0285FF);
  }

  // &.codepen,
  &.github,
  &.x,
  &.patreon {
    @include link-style(#000000, $text);
  }

  &.kofi {
    font-size: 1em;
    @include link-style(#FF5E5B);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .link-item {
    &.on {
      transition: .25s ease-out;

      & .social-name, .username {
        transition: .25s ease-out;
      }
    }

    @include nth-loop(1, 3) using ($i) {
      transition-delay: 0s + (.15 * $i);

      & .social-name, .username {
        transition-delay: 0s + (.15 * $i);
      }
    }

    &:not(.on) {
      transition: .09s ease-out;
      transition-delay: 0;
      transform: translateX(-1em);
      opacity: 0;

      & .social-name, .username {
        transition: .09s ease-out;
        transition-delay: 0;
        opacity: 0;
      }

      & .social-name {
        transform: translateY(2em);
      }

      & .username {
        transform: translateY(-2em);
      }
    }
  }
}