@mixin style {
@media (width <= 700px) {
#overview,
#links {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

#links {
  & .section-inner {
    padding: 0;
  }
}

.heading-left-sticky {
  padding-top: 1.25em;
}

.with-aside > aside {
  display: none;
}

.illust-cont {
  & > img {
    object-position: 35%;
  }
}
}
}
