@mixin style {
@media (width <= 700px) {
#overview,
#links {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

section > .heading-left-sticky {
  padding-top: 1.25em;
}

section.with-aside > aside {
  display: none;
}
}
}
