@use "variables" as *;

@use "sass:color";

@mixin style {
@media (width >= 700px) {
body {
  & > main {
    & > section {
      padding-left: 2em;
      padding-right: 2em;
    }
  }
}

.self-cont {
  left: -2em;
}

.heading-mobile {
  display: none;
}

.with-aside {
  display: flex;
  flex-direction: row;
  padding: 0;

  & > aside {
    position: relative;
    min-width: 20%;
    max-width: 260px;
    padding: 2em 1em;
    padding-right: 1.5em;
    // border-right: 2px dashed color.mix($text, $background-dark, 19%);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 5px;
      height: 100%;
      // background: red;

      @include diagonal-stripes(
        rgba($text-secondary, .4),
        // $tertiary,
        transparent,
        .325em,
        .65em,
      );
    }

    & > div {
      position: sticky;
      top: 3.5em;

      & > h1 {
        margin: 0;
        font-size: 1.75em;
        // color: $secondary;

        & > small {
          opacity: .65;
        }
      }

      & > hr {
        margin: 1em 0;
      }
    }
  }
}
}
}
