@mixin style {
@media (width <= 700px) {
.commits {
  & > .controls {
    display: none;

    & > ul {
      display: flex;
      align-items: end;
    }
  }

  & > div {
    margin-top: 1em;
  }
}
}
}
