.commits {
  display: grid;
  grid-template-columns: auto 68% 25%;
  grid-gap: 1.1em;
  justify-content: center;

  & > .controls {
    margin-top: 2em;
  }
}

.title-left-sticky {
  position: absolute;
  left: -1.5em;
  top: 25%;
  transform: rotate(-90deg);
  font-size: 3em;
  text-transform: uppercase;
  opacity: .3;
}