@use "variables" as *;
@use "sass:color";

#profile {
  bottom: -3em;
  padding: 0;
  padding-top: 5em;

  & > .bg-cover {
    padding-bottom: 1em;
    background: $background-dark;

    box-shadow: 0 0 7em -.1em color.adjust($background-dark, $lightness: -2.5%);
  }

  & .section-inner {
    max-width: 1150px;
    margin: auto;
    padding: 0 2em;
  }

  & .info-container {
    position: relative;
    top: -4em;
    display: grid;
  }

  & .name-cont {
    display: flex;
    align-items: end;
  }

  & h1.name {
    margin: 0;
    color: $text-secondary;
    font-size: 2.5em;
  }

  & p.about {
    margin: .5em 0;
    margin-bottom: .7em;
    color: $text-secondary;
  }

  & .user-metadata {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  & .icon-text {
    // & > svg {
    //   color: color.mix($primary, $background-dark, 95%);
    // }

    & > span {
      color: color.mix($text-secondary, $background-dark, 85%);
    }
  }
}

.profile-pict {
  position: relative;

  & > img {
    border-radius: 24px;
  }

  & .status {
    position: absolute;
    left: -.6em;
    bottom: -.7em;
    display: inline-block;
    padding: .2em .9em;
    padding-bottom: .6em;
    background: $background-dark;
    backdrop-filter: blur(.5em);
    border: 1px solid color.mix($primary, $background-dark, 50%);
    border-radius: 16px;
    font-size: .9em;
    line-height: 1em;
    white-space: nowrap;

    & > span {
      font-size: 1.5em;
    }
  }
}