@use "variables" as *;
@use "sass:color";

#projects {
  & .section-title {
    margin: 0;
    margin-right: .5em;
    // margin-bottom: 2em;
    text-align: right;
  }

  & > .section-inner {
    display: grid;
    grid-template-rows: 130px;
    grid-auto-rows: auto;
    grid-template-columns: 50% 50%;

    margin: auto;
    // padding: 5em 0;
    // padding-top: 0;

    max-width: 980px;

    & > .project-card {
      position: relative;
      margin: .5em;

      background:
        radial-gradient(
          circle at 80% 160%,
          transparent,
          rgba($background, 0.4) 40%,
          rgba($background, 0.6) 50%,
          rgba($background, 0.8) 60%,
          $background 70%
        ),
        var(--img-bg, $background);
      background-size: auto;
      background-position: bottom right;
      background-repeat: no-repeat;

      border-radius: 6px;
      border: 1px solid color.mix($text, $background, 30%);

      overflow: hidden;

      & > h3 {
        margin: 0;
        padding: .5em;
        padding-left: 1em;
        background: linear-gradient(
          to right,
          $background-light 10%,
          transparent 90%
        );
        letter-spacing: .08em;
      }

      & > .labels-container {
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
      }

      & > p {
        margin: 0;
        padding: 1.5em 1.2em;
        padding-top: 1em;
        font-weight: 300;
      }
    }
  }
}

@mixin project-label-style($color) {
  color: $color;
  background: color.mix($color, $background, 1%);
  border: 1px solid color.mix($color, $background, 20%);
}

.project-label {
  display: inline-block;
  padding: .15em .5em;
  margin: 0 .25em;
  font-size: .8em;
  letter-spacing: .1em;
  border-radius: 9px;
  @include project-label-style($text);

  /* stylelint-disable */
  &.SCSS {
    @include project-label-style(#fc56a8);
  }
  &.TypeScript {
    @include project-label-style(#3b93f5);
  }
  &.Handlebars {
    @include project-label-style(#ff9b26);
  }
  &.Godot, &.GDScript {
    @include project-label-style(#66b2f2);
  }
  /* stylelint-enable */
}

@media (width >= 700px) {
  #projects {
    & > .section-inner {
      & > :nth-child(odd) {
        transform: translateY(2.5em);
      }

      & > :nth-child(even) {
        transform: translateY(-2.5em);
      }
    }
  }
}

@media (width <= 700px) {
  #projects {
    & > .section-inner {
      grid-template-columns: 100%;
    }

    & .section-title {
      margin-right: 0;
      text-align: center;
    }
  }
}