#profile {
  & .info-container {
    grid-template-columns: 13.5em auto;
    grid-template-rows: minmax(3em, .9fr) auto auto;
  }

  & .pfp-cont {
    grid-row: span 3;
  }
}

.profile-pict {
  & > img {
    width: 12em;
    height: 12em;
  }
}