@use "variables" as *;
@use "sass:color";

#profile {
  bottom: -3em;
  padding: 0;
  padding-top: 5em;

  & > .bg-cover {
    padding-bottom: 1em;
    background: $background-dark;
  }

  & .section-inner {
    max-width: 1150px;
    margin: auto;
  }

  & .info-container {
    position: relative;
    top: -4em;
    display: flex;

    & > .right {
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-left: 1.5em;
    }
  }

  & h1.name {
    margin: 0;
    color: $text-secondary;
    font-size: 2.5em;
  }

  & p.about {
    margin: .5em 0;
    margin-bottom: .7em;
    color: $text-secondary;
    font-size: .9em;
  }

  & .user-metadata {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: .8em;
    list-style: none;

    & > li {
      margin-right: 1.3em;

      & > svg {
        color: $primary;
        margin-right: .3em;
      }

      & > span {
        color: color.mix($text-secondary, $background-dark, 70%);
      }
    }
  }
}

.profile-pict {
  position: relative;

  & > img {
    border-radius: 24px;
  }

  & .status {
    position: absolute;
    left: -.6em;
    bottom: -.7em;
    display: inline-block;
    padding: .2em .9em;
    padding-bottom: .6em;
    background: $background-dark;
    backdrop-filter: blur(.5em);
    border: 1px solid color.mix($primary, $background-dark, 70%);
    border-radius: 16px;
    line-height: 1em;
    white-space: nowrap;

    & > span {
      font-size: 1.5em;
    }
  }
}