@use "variables" as *;
@use "sass:color";

#projects {
  & .section-title {
    margin: 0;
    margin-right: .5em;
    // margin-bottom: 2em;
    text-align: right;
  }

  & > .section-inner {
    display: grid;
    grid-template-rows: 130px;
    grid-auto-rows: auto;
    grid-template-columns: 50% 50%;

    margin: auto;
    // padding: 5em 0;
    // padding-top: 0;

    max-width: 980px;

    & > .project-card {
      margin: .5em;
      background: $background;

      border-radius: 6px;
      border: 1px solid rgba($text, 0.3);

      overflow: hidden;

      & > h3 {
        margin: 0;
        padding: .5em;
        padding-left: 1em;
        background: $background-light;
      }

      & > .labels-container {
        padding-top: 1em;
        padding-left: 1em;
        padding-right: 1em;
      }

      & > p {
        margin: 0;
        padding: 1.5em 1.2em;
        padding-top: 1em;
      }
    }
  }
}

@mixin project-label-style($color) {
  color: $color;
  background: color.mix($color, $background, 2%);
  border: 1px solid color.mix($color, $background, 30%);
}

.project-label {
  display: inline-block;
  padding: .15em .5em;
  margin: 0 .25em;
  font-size: .8em;
  font-weight: lighter;
  border-radius: 9px;
  @include project-label-style($text);

  &.SCSS {
    @include project-label-style(#c6538c);
  }

  &.TypeScript {
    @include project-label-style(#3178c6);
  }

  &.Handlebars {
    @include project-label-style(#f7931e);
  }
}

@media (width >= 700px) {
  #projects {
    & > .section-inner {
      & > :nth-child(odd) {
        transform: translateY(2.5em);
      }

      & > :nth-child(even) {
        transform: translateY(-2.5em);
      }
    }
  }
}

@media (width <= 700px) {
  #projects {
    & > .section-inner {
      grid-template-columns: 100%;
    }

    & .section-title {
      text-align: center;
    }
  }
}