#profile {
  & .info-container {
    grid-template-columns: 10em auto;
  }

  & .desc-cont {
    grid-column: span 2;
    margin-top: 1.25em;
  }

  & .user-metadata {
    grid-column: span 2;
  }
}

.profile-pict {
  & > img {
    width: 9em;
    height: 9em;
  }
}