#profile {
  & .info-container {
    grid-template-columns: 9em auto;
  }

  & .user-metadata {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 1.5em;
  }
}

.profile-pict {
  & > img {
    width: 9em;
    height: 9em;
  }
}