@use "variables" as *;
@use "sass:color";

.flex-space {
  flex-grow: 1;
}

.text-secondary {
  color: $secondary !important;

  & svg {
    fill: $secondary !important;
  }
}

.text-primary {
  color: $primary;
}

.hidden-display {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

.vseparator {
  width: 1px;
  margin: .4em 1em;
  background: color.mix($text-secondary, $background-light, 40%);
}