@use "sass:color";

$primary: #fc3a78;
$secondary: #3ae5f9;
$tertiary: #f5cf0e;
$background: #15141b;
$background-light: color.adjust($background, $lightness: 2.0%);
$background-dark: color.adjust($background, $lightness: -2.5%);

$primary-gradient: linear-gradient(90deg, $primary var(--offset, 0%), #b23ee0);
$secondary-gradient: linear-gradient(90deg, $secondary var(--offset, 0%), #2a8aec);

$text: #eee;
$text-secondary: color.mix($text, $background, 80%);

@mixin no-select {
  user-select: none;
}

@mixin gradient-text($gradient-col, $gradient-offset: 0%) {
  --offset: #{$gradient-offset};

  /* stylelint-disable */
  background: $gradient-col;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* stylelint-enable */
}

@mixin gradient-text-primary($gradient-offset: 0%) {
  @include gradient-text($primary-gradient, $gradient-offset);
}

@mixin gradient-text-secondary($gradient-offset: 0%) {
  @include gradient-text($secondary-gradient, $gradient-offset);
}

@mixin shadow-black {
  box-shadow: 0 0 2em -.2em color.adjust($background-dark, $lightness: -2.5%);
}

@mixin style-scrollbar($col: $primary) {
  scrollbar-color: $col $background;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: .5em;
    height: .5em;
  }

  &::-webkit-scrollbar-track {
    background: $background; 
  }

  &::-webkit-scrollbar-thumb {
    background: $col; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background: color.adjust($col, $lightness: 20%); 
  }
}

@mixin nth-loop($start, $end) {
  @for $i from $start through $end {
    &:nth-child(#{$i}) {
      @content($i);
    }
  }
}

// BACKGROUNDS

@mixin diagonal-stripes(
  $color-a,
  $color-b,
  $width,
  $spacing,
) {
  background: repeating-linear-gradient(
    45deg,
    $color-a, $color-a $width,
    $color-b $width,
    $color-b $width + $spacing
  );
}

@mixin polka-dots(
  $color,
  $background,
  $dot-size,
  $cell-size,
  $offset: $cell-size * .5,
) {
  background:
    radial-gradient(circle, $color $dot-size, transparent $dot-size) 0 0,
    radial-gradient(circle, $color $dot-size, transparent $dot-size) $offset $offset;

  background-color: $background;
  background-size: $cell-size $cell-size;
}
