@use "variables" as *;

.anim {
  transition: .5s ease;
  will-change: tranform, opacity;

  &.fade {
    &:not(.on) {
      opacity: 0.0;
    }
  }

  &.float-up {
    &:not(.on) {
      transform: translateY(2em);
    }
  }

  &.float-right {
    &:not(.on) {
      transform: translateX(-2em);
    }
  }
}