@use "variables" as *;

.project.card { // ================================================================================
  &.on,
  & > .project-title,
  & > p {
    transition: .3s ease-out;
  }

  & .project-label {
    transition: .2s ease;

    @include nth-loop(1, 4) using ($i) {
      transition-delay: 0s + (.15 * $i);
    }
  }

  &:not(.on) {
    transform: translateY(1.5em);
    opacity: 0;

    & > .project-title,
    & > p,
    & .project-label {
      transition: .09s ease;
    }

    & > .project-title {
      transform: translateX(2.5em);
    }

    & > p {
      transform: translateY(2em);
    }

    & .project-label {
      transform: translateX(2.5em);
      transition-delay: 0 !important;
      opacity: 0;
    }
  }
}

.commits { // =====================================================================================
  &.anim {
    @include nth-loop(1, 3) using ($i) {
      transition-delay: 0s + (.15 * $i);
    }

    &:not(.on) {
      transition: .09s ease-out;
      transition-delay: 0;
    }
  }
}

.stats.anim {
  &.on {
    & .stats-list > li {
      transition: .2s ease-out;
    }
  }

    & .stats-list > li {
      @include nth-loop(1, 5) using ($i) {
        transition-delay: 0s + (.2 * $i);
      }
    }

  &:not(.on) {
    & .stats-list > li {
      transition: .05s ease-out;
      transition-delay: 0;
      transform: translateX(-3em);
      opacity: 0;
    }
  }
}

.languages-container > .lang {
  &.on {
    transition: .7s ease-out;

    & > .icon-text {
      transition: .3s ease-out;
    }
  }

  @include nth-loop(1, 9) using ($i) {
    transition-delay: 0s + (.17 * $i);

    & > .icon-text {
      transition-delay: inherit;
    }
  }

  &:not(.on) {
    transition: .05s ease-out;
    transition-delay: 0;
    transform: translateX(-3em);
    opacity: 0;

    & > .icon-text {
      transform: translateY(-2em);
      opacity: 0;
    }
  }
}