@use "variables" as *;

@use "components";
@use "utils";

@use "header";
@use "footer";
@use "profile";
@use "overview";
@use "projects";
@use "illustrations";
@use "links";
@use "input";
@use "extra";

@use "main.mobile" as mobile;
@use "main.desktop" as desktop;

@use "sass:color";

::selection{
  background: $secondary;
  color: $background;
}

svg {
  display: inline-block;
  height: 1em;
  box-sizing: content-box;
  fill: $text;
  vertical-align: -0.125em;
  overflow: visible;
}

a {
  color: $text;

  & > svg {
    height: 1em;
  }

  &:hover {
    color: $secondary;
    text-decoration: underline;

    & > svg {
      fill: $secondary;
    }
  }
}

hr.hr {
  border: none;
  border-top: 2px dashed color.mix($text, $background-dark, 19%);
}

html {
  color-scheme: dark only !important;
  scroll-behavior: smooth !important;

  @include style-scrollbar;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  max-width: 1700px;
  margin: auto;

  background: $background-dark;

  color: $text;

  @include shadow-black;

  letter-spacing: .05em;

  & h1 {
    font-weight: 200;
  }

  & > main {
    flex-grow: 1;
    overflow-x: clip;
    z-index: 3;

    & > section {
      position: relative;
      padding-left: .5em;
      padding-right: .5em;
    }
  }
}

canvas[data-generated="true"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fade-in 1.3s ease forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.cta-container {
  position: absolute;
  display: flex;
  margin-right: 1.6em;
  margin-bottom: 1.6em;

  & > small {
    margin-right: 1em;
    text-align: right;
  }
}

#cta-button {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  padding: .35em .8em;

  color: $text;

  border: 1px solid $text;
  border-radius: 16px;

  text-decoration: none;

  cursor: pointer;

  overflow: hidden;
  backdrop-filter: blur(.6em);
  transition: ease .5s;

  & > svg {
    height: 1em;
    margin-right: .5em;
    fill: $text;
  }

  &:hover {
    color: $background-dark;

    &::after {
      transform: translateX(0);
    }

    & > svg {
      fill: $background-dark;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: $secondary-gradient;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    transition: ease .25s;
    z-index: -1;
    transform: translateX(-100%);
  }
}

.illust-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: -1;

  & > .fg {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: radial-gradient(circle at 100% 0%, $background-dark -20%, transparent 60%);
  }

  & > img {
    width: 100%;
    height: 100%;
    // box-sizing: content-box;
    object-fit: cover;
    object-position: center;
  }
}

// "In development" notice
#in-dev-stat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  font-size: 2em;
  font-weight: 200;

  text-align: center;
  letter-spacing: .2ch;

  opacity: .7;

  & > .icon {
    width: 5em;
  }
}

// .section-title {
//   font-size: 2.5em;
//   font-weight: 400;

//   & > small {
//     display: inline-block;
//     margin-left: .25em;
//     margin-right: .25em;
//     color: color.mix($text, $secondary, 50%);
//     font-weight: 200;
//     opacity: .7;
//   }
// }

.section-controls {
  display: flex;
}

#home {
  height: 100vh;
  min-height: 620px;
  width: 100%;
  max-width: 1700px;
  overflow: hidden;

  & > .content {
    position: fixed;
    top: 0;

    display: flex;

    align-items: end;
    justify-content: end;

    height: inherit;
    width: inherit;
    max-height: inherit;
    max-width: inherit;

    // margin: auto;
    // padding: 2em;

    z-index: 3;
  }
}

@media (width <= 700px) {
  #home {
    padding-top: 9em;

    & > .content {
      flex-direction: column;
      align-items: center;
    }
  }

  .cta-container {
    flex-direction: column;
    margin: 0;
    margin-bottom: 1.6em;

    & > small {
      margin-right: 0;
      margin-bottom: 1.2em;
      text-align: center;
    }
  }
};

@media (width >= 1200px) {
  #home {
    max-height: 920px;
  }
}

@include mobile.style;
@include desktop.style;
