@use "variables" as *;
@use "header";
@use "footer";
@use "projects";
@use "links";
@use "input";

@use "utils";

@use "../../node_modules/modern-normalize/modern-normalize.css" as *;

@use "sass:color";

::selection{
  background: $secondary;
  color: $background;
}

svg {
  display: inline-block;
  fill: $primary;
}

a {
  color: $text;

  & > svg {
    height: 1em;
  }

  &:hover {
    color: $secondary;
    text-decoration: underline;

    & > svg {
      fill: $secondary;
    }
  }
}

code {
  font-family: "DejaVu Mono", monospace;
}

html {
  color-scheme: dark only !important;
  scroll-behavior: smooth !important;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  max-width: 1700px;
  margin: auto;

  color: $text;
  background: $background-dark;

  @include shadow-black;

  letter-spacing: .05em;

  & h1 {
    font-weight: 200;
  }

  & > main {
    flex-grow: 1;
    background: radial-gradient(circle at 50% 120%, $primary -80%, $background-dark 30%);
    overflow-x: clip;

    & > section {
      position: relative;
      padding-left: 2em;
      padding-right: 2em;
    }
  }
}

.badge-success {
  display: inline-block;
  margin-bottom: .4em;
  margin-right: .4em;
  background: $secondary;
  color: $text;
  font-size: .8em;
  overflow: hidden;

  & > .badge-text {
    display: inline-block;
    padding: .2em .5em;
    background: color.adjust($background-light, $lightness: 5%);

    & > svg {
      vertical-align: -.15em;
      fill: $text;
    }
  }

  & > svg { /* stylelint-disable-line */
    margin-left: .3em;
    color: $background;
  }
}

.section-title {
  font-size: 2.5em;
  font-weight: 400;

  & > small {
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em;
    color: color.mix($text, $secondary, 50%);
    font-weight: 200;
    opacity: .7;
  }
}

#home {
  height: 98vh;
  min-height: 620px;
  width: 100%;
  max-width: 1700px;
  overflow: hidden;
  z-index: -2;

  & > .content {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: end;

    height: inherit;
    width: inherit;
    max-width: inherit;

    margin: auto;
    padding: 2em;

    background:
      linear-gradient(to top, $background -10%, transparent 60%);
    background-size: cover;
    background-position: center;
  }

  & h1.greeting {
    font-size: 2em;

    & > b {
      opacity: .5;
    }
  }

  & .greeting-card {
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#profile-picture {
  position: relative;

  $dimension: 4.5em;
  width: $dimension;
  height: $dimension;

  margin-right: 1.5em;

  background: url("../assets/avatar.webp");

  background-size: 100%;

  border-radius: 50%;
  border: 2px solid $text;
}

@media (width <= 700px) {
  #home {
    padding-top: 9em;

    & > .content {
      flex-direction: column;
      align-items: start;
    }
  }
};

@media (width >= 1200px) {
  #home {
    max-height: 920px;
  }
}