@use "variables" as *;

@use "critical";

@use "components";
@use "utils";

@use "animations";
@use "main.animations";

@use "sections/header";
@use "sections/footer";
@use "sections/profile";
@use "sections/overview";
@use "sections/projects";
@use "sections/illustrations";
@use "sections/links";
@use "input";
@use "extra";

@use "main.mobile" as mobile;
@use "main.desktop" as desktop;

@use "sass:color";

::selection{
  color: $background;
  background: $secondary;
}

svg {
  box-sizing: content-box;
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  fill: $text;
}

a {
  color: $text;

  & > svg {
    height: 1em;
  }

  &:hover {
    color: $secondary;
    text-decoration: underline;

    & > svg {
      fill: $secondary;
    }
  }
}

hr.hr {
  border: none;
  border-top: 2px dashed color.mix($text, $background-dark, 19%);
}

html {
  scroll-behavior: smooth;
  color-scheme: dark only;

  @include style-scrollbar;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1700px;

  min-height: 100vh;
  margin: auto;

  font-size: 0.9375em; // 15 / 16

  color: $text;

  letter-spacing: .05em;

  @include shadow-black;
}

main {
  z-index: 3;
  flex-grow: 1;
  min-height: 100vh;
  overflow-x: clip;

  & > section {
    position: relative;
    padding-right: .5em;
    padding-left: .5em;

    & > .section-inner {
      width: 100%;
      max-width: 1100px;
      // padding-left: 1em;
      // padding-right: 1em;
      padding: 2em 1em;
      margin: 0 auto;
    }
  }
}

h1 {
  font-size: 2em;
  font-weight: 200;
}

.heading-mobile {
  padding: 1.5em;

  & > h1 {
    margin: 0;
    font-size: 2em;
  }
}

// canvas[data-generated="true"] {
//   position: absolute;
//   top: 0;
//   left: 0;
//   opacity: 0;
//   animation: fade-in 1.3s ease forwards;
// }

// @keyframes fade-in {
//   to {
//     opacity: 1;
//   }
// }

.cta-container {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 1.5em;
  margin: 2em;
  /* align-items: end; */
  /* width: 100%; */
  /* height: 100%; */
}

/*
.cta-inner {
  display: flex;
  width: 100%;
  // height: fit-content;
  margin: 2em;
  margin-bottom: 3em;
}
*/

.cta-group {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  /* margin: 0 1em; */
  /* margin: 2em; */
  /* margin-bottom: 2em; */
}
/*
.cta-label {
  margin-top: .5em;
//   margin: 0 1em;
}
*/

.cta-group > a {
  position: relative;
  // margin: 0 1em;

  box-sizing: border-box;
  display: flex;

  align-items: center;
  justify-content: center;

  width: fit-content;

  padding: .35em .8em;

  overflow: hidden;

  color: $text;

  // font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;

  cursor: pointer;

  background: rgba($background-dark, 0.5);

  border: 1px solid $text;
  border-radius: 16px;
  backdrop-filter: blur(.6em);

  // box-shadow: 0 0 2em $background-dark;

  transition: ease .5s;

  & > svg {
    height: 1em;
    margin-right: .5em;
  }

  &:hover {
    color: $background-dark;

    &::after {
      transform: translateX(0);
    }

    & > svg {
      fill: $background-dark;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background: $secondary-gradient;
    border-radius: 16px;
    transform: translateX(-100%);
    transition: ease .25s;
  }
}

#cta-comm {
  // border-color: $primary;
  border-bottom: 2px $primary dashed;

  & > svg > path{
    fill: $primary;
  }

  &::after {
    background: $primary-gradient;
  }
}

#cta-patreon {
  // border-color: $secondary;
  border-bottom: 2px $secondary dashed;

  & > svg {
    fill: $secondary;
  }
}

#cta-comm, #cta-patreon {
  &:hover {
    & > svg, & > svg > path {
      fill: $background-dark;
    }
  }
}

.scroll-down-cont {
  position: absolute;
  right: 1em;
  bottom: 2em;
  z-index: 3;
  font-size: 2em;
}

.scroll-down {
  & > svg {
    margin: auto;

    animation: 2s mouse-wiggle ease infinite;
  }

  & > .arrows {
    display: flex;
    place-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  & > .arrows > svg {
    position: absolute;
    display: block;

    opacity: 0;

    animation: 2s arrow-down ease-out infinite;

    &:nth-child(2) {
      animation-delay: .3s;
    }

    &:nth-child(3) {
      animation-delay: .6s;
    }
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(50%);
  }
}

@keyframes mouse-wiggle {
  0%, 100% {
    transform: translateY(-3em);
  }

  50% {
    transform: translateY(-2em);
  }
}

.self-cont {
  position: absolute;
  top: 0;
  left: 1em;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;

  // mix-blend-mode: plus-lighter;

  transition: .8s translate cubic-bezier(0.25, 1, 0.5, 1);
  /* transition: .8s transform cubic-bezier(0.25, 1, 0.5, 1); */
  // will-change: tranform;

  & > .inner {
    margin-right: 3em;
  }

  & .titles > li {
    margin: 0;
    font-size: 3em;
    opacity: .8;

    transition: .8s translate cubic-bezier(0.25, 1, 0.5, 1);
    /* transition: .8s transform cubic-bezier(0.25, 1, 0.5, 1); */
    // will-change: tranform;

    // &::first-letter {
    //   font-weight: bold;
    // }
  }

  & .name-cont {
    position: relative;

    & > svg {
      position: absolute;
      top: -2em;
      left: -13em;
      // font-size: 15em;
      height: 15em;
      opacity: .25;
    }
  }
}

.illust-cont {
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;

  & > .fg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    background: rgba($background-dark, 0.6);
    backdrop-filter: blur(13em) brightness(.8);
    mask-image:
      linear-gradient(195deg, #000 var(--p1, 10%), transparent var(--p2, 49%))
    , linear-gradient(0deg, #000 2%, transparent 15%)
    , linear-gradient(17.5deg, #000 9%, transparent 23.5%)
    , radial-gradient(circle at 0% 0%, #000 2%, transparent 35%)
    ;
    mask-mode: alpha;
    will-change: translate;
  }

  & > img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    transition: .8s translate cubic-bezier(0.25, 1, 0.5, 1);
    will-change: translate;
  }
}

// "In development" notice
// #in-dev-stat {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
//   align-items: center;
//   justify-content: center;

//   font-size: 2em;
//   font-weight: 200;

//   text-align: center;
//   letter-spacing: .2ch;

//   opacity: .7;

//   & > .icon {
//     width: 5em;
//   }
// }

// .section-title {
//   font-size: 2.5em;
//   font-weight: 400;

//   & > small {
//     display: inline-block;
//     margin-left: .25em;
//     margin-right: .25em;
//     color: color.mix($text, $secondary, 50%);
//     font-weight: 200;
//     opacity: .7;
//   }
// }

.section-controls {
  display: flex;
}

#home {
  position: relative;
  width: 100%;
  max-width: 1700px;
  height: 100svh;
  // height: 100vh;
  min-height: 620px;
  overflow: hidden;

  & > .content {
    position: fixed;
    top: 0;

    z-index: 3;

    display: flex;
    width: inherit;
    max-width: inherit;

    height: inherit;
    max-height: inherit;
  }
}

@media (width <= 700px) {
  #home {
    padding-top: 9em;

    & > .content {
      flex-direction: column;
      align-items: center;
    }
  }

  .illust-cont {
    & > .fg {
      --p1: 2%;
      --p2: 30%;
    }
  }

  .cta-container {
    // flex-direction: column;
    align-items: end;
    justify-content: center;
    margin: 0;
    margin-bottom: 1.6em;

    // & > small {
    //   margin-right: 0;
    //   margin-bottom: 1.2em;
    // }
  }

  // .cta-group {
  //   margin-bottom: 1em;
  // }

  /*
  .cta-inner {
    margin: 0;
    // text-align: center;
    flex-direction: column;

    & > small {
      margin-top: 1em;
    }
  }
  */

  .scroll-down-cont {
    pointer-events: none;
    transform: translate(-.5em, -10vh);
  }
};

@property --opac {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.nkmm-div {
  $size: 5em;

  position: relative;
  /* background: $background-dark; */
  z-index: 99;
  display: flex;
  column-gap: $size;
  justify-content: center;
  margin-top: -$size;
  border-bottom: 5px solid $primary;

  & > svg {
    width: $size;
    height: $size;
    margin-bottom: -0.65em;
    transform-origin: 50% 100%;

    animation: flatten 3s infinite alternate cubic-bezier(.175,.885,.32,1.275);

    &:last-of-type {
      scale: -1 1;
    }
  }

  & > div {
    position: absolute;
    bottom: calc(-100% - .25em);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 4em;

    & > span {
      position: relative;
      display: inline-block;
      width: 1em;
      height: 1em;

      animation: blink 2s infinite alternate;
      animation-timing-function: steps(1, end);

      & > b {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &.closed {
          opacity: calc(1 - var(--opac));
        }

        &.open {
          opacity: var(--opac);
        }
      }
    }
  }
}

@keyframes blink {
  0%, 15% {
    --opac: 1;
  }

  5% {
    --opac: 0;
  }
}

@keyframes flatten {
  0%, 20% {
    transform: rotateX(0) skewX(0);
  }

  10% {
    transform: rotateX(60deg) skewX(30deg);
  }
}


@media (width >= 1200px) {
  #home {
    max-height: 920px;
  }
}

@media (width >= 1700px) {
  body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    background: $background-dark;
    background-image: url(#{"https://s2.svgbox.net/heropatterns.svg?ic=hideout&color=eee1"});
    background-position-y: 100vw;
    background-size: 10vw;
    animation: u 100s linear infinite;
  }

  @keyframes u {
    100% {
      background-position-y: -100vw;
    }
  }
}

@include mobile.style;
@include desktop.style;
