@use "../variables" as *;
@use 'sass:math';
@use 'sass:color';

// dumb, i know, but for some reason, i cant just use this as <style>
@use "../sections/links.lazy";

body {
  background: $background-dark;
}

#links {
  padding-top: 3.5em;
  padding-bottom: 3em;
  border-top: 0;

}

.nkmm-div {
  font-size: .8em;
}

#profile {
    // background-position: calc(0px - 0px) -23vh;
    // background-position: calc(0px - 520px) -23vh;

    bottom: 0;
  padding-top: 26vh;
    margin-bottom: -2em;
  // position: fixed;;
    background:
     linear-gradient(transparent 10%, $background-dark 60%)
    , url("../../assets/secret-home.avif")
    ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // background-position: top;
    background-position: calc(50% + 45vw) -10vh;
    background-size: 200%;
}

.author-name {
  background: 0;
}

.pfp-cont {
  position: relative;
  left: .5em;
}

.bg-cover {
  padding-bottom: 2.5em;
//   position: relative;
//   overflow-x: clip;

//   &::before {
//     content: "";
//     position: absolute;
//     inset: 0;
//     // height: 200%;
//     width: 200%;
//     //
//     animation: bg-anim 30s linear infinite;
//     transform: translatex(-50%);


    $s: 50px;  /* control the size of the grid */
    $n: 4;     /* control the granularity */
    $t: 2px;   /* the thickness */
    $g: 10px;  /* the gap between dashes */

    $sn: math.div($s, $n);

    --c: #{color.mix($text, $background, 10%)} 25%,#0000 0;
    background:
      linear-gradient(270deg, $background-dark -10%, #0000 5%),
      linear-gradient(180deg, $background-dark -10%, #0000 25%),
      linear-gradient(90deg, $background-dark -10%, #0000 5%),
      linear-gradient(0deg, $background-dark -10%, #0000 25%),

      conic-gradient(at $g $t,var(--c))
      #{math.div( ($sn - $g + $t), 2 ) 0} /
      #{$sn $s},

      conic-gradient(from 180deg at $t $g,var(--c))
      #{0 math.div( ($sn - $g + $t), 2 )} /
      #{$s $sn},

      linear-gradient($background-dark, $background-dark)
      ;
    /* you probably don't need to set any size in your case */
    // width: calc(round(down,100%,$s) + $t);
    // height: calc(4*$s + $t);
    background-position: -1px;

//   }
}


@keyframes bg-anim {
  to {
    transform: translateX(0%);
  }
}

.author-desc {
  font-size: 1.65em;
  line-height: 1.5;
}

// ul.author-info {
//   margin-top: 3em;
// }

.author-name {
  margin-top: .75em;
}

@media (width >= 720px) {
  #profile {
    background-position: 0 -23vh;
    background-size: cover;
  }
}

@media (width <= 700px) {
  ul.author-info {
    margin-top: 3em;
  }
}

// #link-bg {
// /*   margin-top: 3em; */
//   min-height: 5vh;
//   font-size: 1.5em;
// }
