<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>nnda's corner</title>

	<link rel="stylesheet" type="text/css" href="../styles/main.scss">
</head>
<body>
	{{ include "header" }}
	Hello
	{{ include "footer" }}
</body>
</html>