<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>nnda's corner</title>

	<link rel="stylesheet" type="text/css" href="../styles/main.scss">

	<script type="text/javascript" src="../scripts/main.ts"></script>
</head>
<body>
	{{ include "header" }}
	{{ include "home" }}
	<main>
		{{ include "projects" }}
	</main>
	{{ include "footer" }}
</body>
</html>