<section id="home">
  <div class="content" id="tsparticles">

    {{!-- 
    <div class="illust-cont">
      <div class="fg"></div>
      <img src="/assets/secret_home_bg.webp">
    </div>
    --}}

    <div id="in-dev-stat">
      <div class="icon">
        {{{icons.road_barrier}}}
      </div>
      <div>
        website in development
        <br>
        <small>
          come back later!
        </small>
      </div>
    </div>

    <div class="cta-container">
      <small>Support me and my works, <br>&amp; get access to exclusive contents</small>
      <a
        id="cta-button"
        href="https://patreon.com/nnda"
        target="_blank"
        rel="noopener noreferrer"
        referrerpolicy="origin"
      >
        {{{brands.patreon}}}
        Become A Patron!
      </a>
    </div>
  </div>
</section>

{{ script "/scripts/particles.ts" true }}
