<section id="home">
  <div class="content">
    <div class="greeting-card">
      <div id="profile-picture">
      </div>

      <h1 class="greeting">
        Hi there<b>,</b> I'm nnda
      </h1>
    </div>
  </div>
</section>