<section id="home" style="{{easeOutBounce}}">
  <div class="content">
    <div class="profile-picture">
      <div class="bg-spiral-container" aria-hidden="true">
        <code class="bg-spiral" id="bg-spiral-1" data-rotation="0">{{rings.outer}}</code>
        <code class="bg-spiral" id="bg-spiral-2" data-rotation="0">{{rings.inner}}</code>
        <code class="bg-spiral" id="bg-spiral-3" data-rotation="0">{{rings.coreAbs}}</code>
        <code class="bg-spiral horizontal" id="clock-hand-sec" data-rotation="0">&nbsp;+-+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------}}+-----&lt;&gt;&gt;</code>
        <code class="bg-spiral horizontal" id="clock-hand-min" data-rotation="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{}&nbsp;&nbsp;{-----}}&gt;======&lt;&gt;&gt;&nbsp;</code>
      </div>
    </div>

    <h1 class="greeting">
      Hi there<i>,</i> I'm nnda<i>,</i> a<wbr> <sub>self-proclaimed</sub> <br>
      <span id="things-stuff">open source developer</span>
    </h1>
  </div>

  <div class="background-decoratives">
  </div>
  <div style="height: 150px;"></div>
</section>