<section id="home">
  <div class="content">
    <div id="in-dev-stat">
      <div class="icon">
        {{{icons.roadBarrier}}}
      </div>
      <div>
        website in development
        <br>
        <small>
          come back later!
        </small>
      </div>
    </div>

    <div class="cta-container">
      <small>Support me and my works, <br>&amp; get access to exclusive contents</small>
      <a
        id="cta-button"
        href="https://patreon.com/nnda"
        target="_blank"
        rel="noopener noreferrer"
        referrerpolicy="origin"
      >
        {{{siIcons.patreon.svg}}}
        Become A Patron!
      </a>
    </div>
  </div>
</section>