<section id="illustrations" data-nav-name="Illustrations" class="with-aside">
  <aside>
    <div>
      <h1>
        <small>イラスト</small>
        <br>
        Illustrations
      </h1>

      <hr class="hr">
    </div>
  </aside>

  {{!-- 
  <h1 class="heading-left-sticky">
    <div>イラスト</div>
  </h1>
  --}}

  <div class="section-inner">
    {{#each illustrations }}
      <div class="illust">
        <div class="img">
          {{ img this.src }}
        </div>
        <small class="chr">
          {{#each this.chr}}
            <span>{{this}}</span>
          {{/each}}
        </small>
        <div class="title">{{ this.title }}</div>
      </div>
    {{/each}}
  </div>
</section>

{{ script "/scripts/sections/illustrations.ts" true }}
