<section id="illustrations" data-nav-name="Illustrations" class="with-aside">
  <div class="heading-left-sticky">
    <div class="jp">イラスト</div>
    <div class="line"></div>
  </div>

  <div class="section-inner has-loader anim fade on">
    <div class="loader"><div></div></div>
    {{!--
    {{#each illustrations }}
      <div class="illust">
        <div class="img">
          {{ img this.src "" }}
        </div>
        <small class="chr">
          {{#each this.chr}}
            <span>{{this}}</span>
          {{/each}}
        </small>
        <div class="title">{{ this.title }}</div>
      </div>
    {{/each}}
    --}}
  </div>
</section>
