<section id="links">
  <div class="heading-left-sticky">
    <div class="jp">リンクス</div>
  </div>

  <div class="section-inner has-loader anim fade on">
    <div class="loader"><div></div></div>
  </div>
</section>
