<section id="overview">
  <div class="heading-left-sticky">
    <div class="jp">サマリー</div>
    <div class="line"></div>
  </div>

  <div class="section-inner">
    <hr class="hr">

    <div class="commits">
      <div class="calendar-container">
        <div class="section-title-sub">
            Contrib. Graph
        </div>
        <div class="inner scrollbar-secondary card">
          <div class="grid has-loader anim fade on">
            <div class="loader"><div></div></div>
          </div>
        </div>
      </div>

      <div class="lang-stacks">
        <div class="languages">
          <div class="section-title-sub anim once fade float-right">
              Most Used Languages
          </div>
          <div class="languages-container">
            <br>
          </div>
        </div>

        <div class="stacks">
          <div class="section-title-sub anim fade float-right">
              Tech Stacks
          </div>
          <div class="stacks-lists">
            <ul class="nostyle">
            </ul>
          </div>
        </div>
      </div>
    </div>

    {{> "overview_socials" }}
  </div>
</section>
