<section id="projects" data-nav-name="Projects">
  <div class="heading-left-sticky">
    <div class="jp">プロジェクト</div>
    <div class="line"></div>
  </div>

  <div class="section-inner">
    <h1 class="heading-hr">
      <span>
        Projects
      </span>
    </h1>

    <div class="project-items">
      {{!--
      {{#each home.projects.partials}}
        {{ include this }}
      {{/each}}
      --}}
    </div>
  </div>
</section>

{{!-- {{ script "/scripts/sections/projects.ts" true }} --}}
