@use "../../variables" as *;

@use "sass:color";

@font-face {
  font-family: Bytesized;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fonts/bytesized/400.woff2") format("woff2");
}

#shop-banner {
  display: flex;
  min-height: 50dvh;
  margin: 2em;
  margin-top: 5em;
  background: $background-dark;

  & > h1 {
    width: 100%;
    flex-grow: 1;
    align-content: end;
    font-size: 2.5em;

    color: $text-secondary;

    &::first-letter {
      color: $primary;
      font-family: "Ubuntu Sans Mono", sans-serif;
      font-weight: 600;
    }
  }
}

main {
  background: color.mix($background, $background-light, 70%);

  @include shadow-black;

  & > section {
    margin: 1.5em;
    margin-bottom: 3em;
    padding-bottom: 2.5em;
    border-bottom: 1px solid color.mix($background, $text-secondary, 70%);
  }
}

h2 {
  display: flex;
  column-gap: .5em;
  align-items: center;
  font-size: 1.75em;
  margin-bottom: 1.2em;
  letter-spacing: .05em;

  & > small {
    // margin-left: .25em;
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 200;
  }
}

.p {
  color: $primary;
}

.s {
  color: $secondary;
}

.px-title {
  font-family: Zen Kaku Gothic New;
  // font-family: Bytesized, sans-serif;

  & > span {
    font-size: 1.2em;
    // color: $secondary;

    // text-shadow:
    //   2px 2px $primary
    // , -2px -2px $primary
    // , -2px 2px $primary
    // , 2px -2px $primary
    // ;
    transform: translateY(-.1em);

    // &::first-letter {
    //   color: $primary;
    // }
  }
}

.thumb-link {
  display: block;

  &:hover ~ .data > .title > a {
    color: $secondary;
  }
}

.thumb {
  display: block;
  width: 100%;
  height: 210px;
  margin: 0;
  object-fit: cover;
}

.data {
  // position: relative;
  display: flex;
  flex-direction: column;

  min-height: 12em;

  padding: 1em;

  font-size: .85em;

  // box-shadow: 0 0 2em 0 color.adjust($background-dark, $lightness: -5.5%);

  & > .title {
    margin: 0;
    margin-bottom: .5em;
    // letter-spacing: .2ch;
  }

  & > p {
    margin: 0;
  }

  & > hr {
    margin: 1em 0;
    border: 0;
    border-top: 1px dashed color.mix($text-secondary, $background-dark, 50%);
  }
}

.item {
  width: 240px;
}

.card {
  padding: 0;
  margin-bottom: .8em;

  background: var(--bg, $background-dark);

  border-color: color.mix($text-secondary, $background-dark, 25%);

  box-shadow: 0 0 2em -.05em color.adjust($background-dark, $lightness: -5.5%);

  overflow: hidden;
}

.platforms {
  & > svg {
    width: 1.2em;
    height: 1.2em;

    margin: .25em;

    fill: var(--col, $primary);
  }
}


.buy-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .5em;
  font-size: 1.15em;
}

.price {
  &:first-letter {
    color: $text-secondary;
    margin-right: .25em;
  }
  // flex-grow: 1;
}

.buy-platforms {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: .5em;
  // background: red;
  // flex-grow: 1;

  & > small {
    font-size: .7em;
  }
}

.buy-hr {
  border-color: color.mix($text-secondary, $background-light, 10%);
  // border-style: dashed;
  margin: .5em 0;
}

.addon-item {
  font-size: .85em;
}

.buy-btn {
  margin: 0;
  padding: .3em .5em;

  // & > svg {
  //   margin-right: 0;
  // }
}

.collection {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  min-height: 440px;
}


// .item {
//   &[data-item-name="Timekeeper"] {
//     --bg: #0d0905;
//     --col: #ffff8f;
//   }

//   &[data-item-name="In Plain Sight"] {
//     --bg: #08041d;
//     --col: #c3aeee;
//   }

//   &[data-item-name="Paws & Plates"] {
//     --bg: #2e222f;
//     --col: #fdc756;
//   }
// }
